include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../fonts/fonts.css")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Кнопки

				.container-dashboard__content
					.btn-primary Кнопка
					pre.
						.btn-primary Кнопка
					br
					.btn Кнопка
					
					pre.
						.btn Кнопка
					br
					.btn-primary.btn--slim Кнопка
					
					pre.
						.btn Кнопка
					br
					.icon-round
						svg.svg-arrow-l
							use(href='../img/sprite.svg#svg-arrow-l')
					pre.
						.icon-round
							svg.svg-arr-l
								use(href='./img/sprite.svg#svg-arr-l')
					.icon-round
						img(src="../img/benefits-icons/icon1.svg", alt="img")
					pre.
						.icon-round
							svg.svg-arr-l
								use(href='./img/benefits-icons/icon1.svg", alt="img")
			
