include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Форма

				.container-dashboard__content
					form
						.form-item
							label.label Ваше имя
							input(type="text")
					
					label.checkbox-item
							input(type="checkbox")
							span.custom-checkbox
					form.dark-bg
						.form-item
							label.label Ваше имя
							input(type="tel" placeholder="+7 (000) 000-00-00")
						
						.agree-block
							label.checkbox-item
								input(type="checkbox")
								span.custom-checkbox
								span Я ознакомлен и согласен с условиями #[a(href="#!") пользовательского соглашения]
