include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../fonts/fonts.css")

		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Типографика

				.container-dashboard__content
					h1.h1 #[span.primary-word Профессиональный] уход и реабилитационные программы для пожилых людей
					pre.
						h1.h1 Заголовок 60px
					.h3 Text  25px
					pre.
						.h3 Text  25px
					span.primary-word Профессиональный
					pre.
						span.primary-word Профессиональный