.consultation-content{
	border-radius: 30px;
	padding: 80px 20px;
	padding-bottom: 70px;
	@media (max-width: 1360px) {
		border-radius: 0;
	   }
	
}
.green-bg {.h1{
	color: white;}}
.consultation{
	.h1{
		color: white; margin-bottom: 40px; text-align: center;
		@media (max-width: 1919px){
			font-size: 50px;
		}
		
		@media (max-width: 1199px) {
			font-size: 40px;
			width: 70%;
			text-align: left;
			
		}
		@media (max-width: 1023px) {
		   
		}
		@media (max-width: 743px) {
			font-size: 30px;
		}
	}
	
	&-row{
		gap:80px;
		max-width: 1100px;
		margin-inline: auto;
		justify-content: space-between;
		@media (max-width: 743px) {
			flex-direction: column;
			justify-content: center;
			row-gap:20px;
		}
	}
	&-contacts{
		flex:1;
		max-width: 400px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 30px;
		row-gap:20px;
		border-radius: 30px;
	}
	.consult-form{
		flex:1;
		max-width: 540px;
		border-radius: 30px;
		padding: 30px;
	}
	
}
.consultation-help{
	.consultation-row{
		width: 100%;
		max-width: 100%;
		
		gap: 20px;
	}
	.form-wrapper{
		max-width: 530px;
	}
	.consultation-contacts{max-width: unset; flex:1}
}