.sidebar{
	&>*+*{margin-top: 20px;}
}
.list-menu{
	
	li a{
		display: flex;
		padding: 25px;
		border-radius: 15px;
		color: #1c1c1c;
		transition: .3s;
		line-height: 1;
		&:hover{
			background-color: #CCEC83;
			
		}
	}
	li.active a{background-color: #CCEC83;}
	li.drop-menu__hide {display: none;}
	li+li{margin-top: 10px;}
	.drop-menu__btn{
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}
}
.aside-grid{
	display: grid;
	grid-template-columns: 540px 1fr;
	column-gap:20px;
}
.list-menu, .reservation-form-wrapper{
	border-radius: 30px;
	background-color: #f5f5f5;
	padding: 30px;
	.h4{margin-bottom: 24px;}
}
.slider-block{background-color: #fff; .h4{margin-bottom: 24px;}}
.small-slider .sidebar-slider-card{
	
	img{
		width: 100%;
		aspect-ratio: 27/25;
		border-radius: 30px;
		flex-shrink: 0;
		object-fit: cover;
	}
	.sidebar-slider-text{
		margin-top: 20px;
		padding: 20px;
		border-radius: 30px;
		background-color: #f5f5f5;
		.h5{margin-top: 16px;}
	}
	
}
.small-slider{padding-bottom: 50px;}

.small-slider .slick-dots{
	bottom: 0;
}
.small-slider .slick-dots li{
	width: 30px;height: 30px;
	background-color: #f5f5f5;
		border-radius: 10px;
		// display: flex;
		justify-content: center;
		
}

.small-slider .slick-dots li button{
	    width: 14px;
		height: 14px;
		display: block;
		border-radius: 50%;
		background-color: #f5f5f5;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		&:before{
			display: none;
		}
		
}
.small-slider .slick-dots li.slick-active button{background-color: #1E4737;}