//ABOUT
section.about
	.container
		.about-grid
			.header-group
				h2.h1 Почему свыше #[span.accent-word 3000+] человек доверили нам своих близких:
				.txt-22
					p Более 3000 семей доверили нам заботу о своих близких, и это число постоянно растет. Мы ценим это доверие и делаем все возможное, чтобы оправдать его, предоставляя высококачественный уход и поддержку.
			//video
			.about__video.bg-overlay
				img.img-cover.img-round(src="./img/video-posters/poster1.webp", width="1100" height="474" alt="img")
			
			article.benefit-card
				.benefit-card__icon
					img(src="./img/benefits-icons/icon1.svg", width="30" height="30" alt="img")
				.h3 2000+ положительных отзывов
				p.txt-18 Доверие, подтвержденное тысячами довольных клиентов. Ваши положительные отзывы — наша лучшая награда и мотивация к дальнейшему развитию. 
			article.benefit-card
				.benefit-card__icon
					img(src="./img/benefits-icons/icon2.svg", width="30" height="30" alt="img")
				.h3 90% наших клиентов приходят по рекомендации
				p.txt-18 Лучшая реклама — это рекомендации довольных  клиентов, и 90% наших клиентов приходят к нам именно по рекомендации. Присоединяйтесь к их числу и убедитесь в качестве наших услуг сами! 
			article.benefit-card
				.benefit-card__icon
					img(src="./img/benefits-icons/icon3.svg", width="30" height="30" alt="img")
				.h3 Квалифицированный персонал и медицинская лицензия
				p.txt-18 Ваше здоровье в надежных руках. Гарантируем безопасность и профессионализм всех предоставляемых услуг. Работаем в соответствии с высочайшими медицинскими стандартами.

section.reward
	.container
		.reward-content
			.reward-img
				img(src="./img/diplom.webp", srcset="./img/diplom@2x.webp 2x" width="531" height="368" alt="img")
			
			.reward-col
				.reward-title
					.h1 Мы получили #[span.accent-word премию] за лучший социальный проект 2024!
				
				.reward-txt
					p С гордостью объявляем, что наш социальный проект [название проекта] был удостоен престижной премии за лучший социальный проект 2024 года! Это заслуженное признание нашей работы и подтверждение ее значимости для общества. Мы глубоко благодарны жюри и всем, кто поддержал наш проект. Эта премия вдохновляет нас на дальнейшую работу и достижение еще больших успехов в области [область социальной деятельности].