//ФИЛИАЛЫ
section.branches
	h2.h1 #[span.accent-word 13] филиалов по всей России
			
	.branches-slider.overlay-bg
		
		.branche-card
			.branche-card__img
				img.img-cover(src="./img/branches/branche3.webp", srcset="./img/branches/branche3@2x.webp 2x" width="520" height="300" alt="img")
			.branche-card__txt
				figcaption Дом для престарелых «Добро»
				.h3 Ставрополь
	
		.branche-card
			.branche-card__img
				img.img-cover(src="./img/branches/branche1.webp", srcset="./img/branches/branche1@2x.webp 2x" width="520" height="300"  alt="img")
			.branche-card__txt
				figcaption Дом для престарелых «Добро»
				.h3 Ставрополь
	
		.branche-card
			.branche-card__img
				img.img-cover(src="./img/branches/branche2.webp", srcset="./img/branches/branche2@2x.webp 2x" width="520" height="300" alt="img")
			.branche-card__txt
				figcaption Дом для престарелых «Добро»
				.h3 Ставрополь
	
		.branche-card
			.branche-card__img
				img.img-cover(src="./img/branches/branche3.webp", srcset="./img/branches/branche3@2x.webp 2x" width="520" height="300" alt="img")
			.branche-card__txt
				figcaption Дом для престарелых «Добро»
				.h3 Ставрополь
	
		.branche-card
			.branche-card__img
				img.img-cover(src="./img/branches/branche1.webp", srcset="./img/branches/branche1@2x.webp 2x" width="520" height="300" alt="img")
			.branche-card__txt
				figcaption Дом для престарелых «Добро»
				.h3 Ставрополь
	
		.branche-card
			.branche-card__img
				img.img-cover(src="./img/branches/branche2.webp", srcset="./img/branches/branche2@2x.webp 2x" width="520" height="300" alt="img")
			.branche-card__txt
				figcaption Дом для престарелых «Добро»
				.h3 Ставрополь
	
		.branche-card
			.branche-card__img
				img.img-cover(src="./img/branches/branche3.webp", srcset="./img/branches/branche3@2x.webp 2x" width="520" height="300" alt="img")
			.branche-card__txt
				figcaption Дом для престарелых «Добро»
				.h3 Ставрополь

	
	//slider pagination
	.branches-pagination.slider-pagination
		button.btn-prev(type="btn")
			span.arrow-left
		button.btn-next(type="btn")
			span.arrow-right