//ЛОГОТИПЫ
section.brands
	.brands-slider.overlay-bg
		.brand-logo
			img(src="./img/brands/GooglePay.webp",srcset="./img/brands/GooglePay@2x.webp 2x"  height="74" alt="img")
		.brand-logo
			img(src="./img/brands/SamsungPay.webp",srcset="./img/brands/SamsungPay@2x.webp 2x" width="186" height="74" alt="img")
		.brand-logo
			img(src="./img/brands/Maestro.webp",srcset="./img/brands/Maestro@2x.webp 2x"  width="186" height="74" alt="img")
		.brand-logo
			img(src="./img/brands/Klarna.webp",srcset="./img/brands/Klarna@2x.webp 2x" width="186" height="74" alt="img")
		.brand-logo
			img(src="./img/brands/ShopPay.webp",srcset="./img/brands/ShopPay@2x.webp 2x" width="186" height="74" alt="img")
		.brand-logo
			img(src="./img/brands/AmericanExpress.webp",srcset="./img/brands/AmericanExpress@2x.webp 2x"  height="74" width="186" alt="img")
		.brand-logo
			img(src="./img/brands/OpenSea.webp",srcset="./img/brands/OpenSea@2x.webp 2x" width="186" height="74" alt="img")
		.brand-logo
			img(src="./img/brands/Klarna.webp",srcset="./img/brands/Klarna@2x.webp 2x" width="186" height="74" alt="img")
		.brand-logo
			img(src="./img/brands/ShopPay.webp",srcset="./img/brands/ShopPay@2x.webp 2x" width="186" height="74" alt="img")
		.brand-logo
			img(src="./img/brands/AmericanExpress.webp",srcset="./img/brands/AmericanExpress@2x.webp 2x"  height="74"  width="186" alt="img")
		.brand-logo
			img(src="./img/brands/GooglePay.webp",srcset="./img/brands/GooglePay@2x.webp 2x"  width="186"  height="74" alt="img")
		.brand-logo
			img(src="./img/brands/Maestro.webp",srcset="./img/brands/Maestro@2x.webp 2x"  width="186" height="74" alt="img")
		.brand-logo
			img(src="./img/brands/Klarna.webp",srcset="./img/brands/Klarna@2x.webp 2x" width="186" height="74" alt="img")