//КАК ЗАБОТИТЬСЯ
section.care
	.container
		.care-content
			.care-row
				.care-txt
					.care-title
						h2.h1 #[span.accent-word Как организовать] уход за&nbsp;пожилым родственником?
					.care-info.txt-22
						p #[a.txt-link(href="#!") Уход за пожилыми родственниками, инвалидами] можно организовать определив их в государственный интернат. Но условия проживания в таких учреждениях, оставляют желать лучшего.
						p Для ухода за лежачим больным или инвалидом можно нанять социального работника или сиделку. Подбор такого персонала, займет очень много времени. Квалифицированные работники в этой сфере, не всегда отличаются порядочностью, и может возникнуть вопрос о сохранности ценностей в вашем доме. Редко кто решиться привести в дом совершенно незнакомого человека, а с хорошими рекомендациями кандидатуру найти трудно.
						p Ещё один способ обратиться в социальный дом престарелых. Такие организации оказывают уход в счет пенсии пенсионера. Но в такой организации количество мест ограниченно, и ждать пока освободится место, часто нет возможности. Поэтому попасть в такой дом престарелых практически невозможно. Да и попадать в такой дом престарелых, посетив его нет желания.
						.warning-txt
							p Обратившись в не государственный, а частный дом престарелых в Ростове, вы получите весь спектр необходимых услуг. Здесь работает квалифицированный персонал, который окажет необходимый уход и медицинскую помощь для пенсионеров.
				a(href="https://www.youtube.com/watch?v=i57-yuokvQE&roistat_visit=3229966" target="_blank"  data-fancybox="video2").care-video.video-link
					span
					img.img-cover(src="./img/video-posters/poster2.webp", srcset="./img/video-posters/poster2@2x.webp 2x" width="790" height="627" alt="alt")
			.warning-txt
				p Обратившись в не государственный, а частный дом престарелых в Ростове, вы получите весь спектр необходимых услуг. Здесь работает квалифицированный персонал, который окажет необходимый уход и медицинскую помощь для пенсионеров.