section.comparison
	.container
		.header-group
			h2.h1.txt-center #[span.accent-word Сиделка или пансионат]: какой уход лучше для вашего близкого?
			.txt-22
				p Развеиваем мифы и помогаем сделать правильный выбор, основанный на заботе, комфорте и разумных затратах
		
		.comparison
		