section.compare#price 
	.container
		.header-group
			h2.h1 #[span.accent-word Сиделка или пансионат:] какой уход лучше для вашего близкого?
			h2.h1.visible-mobile Сиделка или #[span.accent-word пансионат:] какой уход лучше для вашего близкого?
			.txt-22
				p Развеиваем мифы и помогаем сделать правильный выбор, основанный на заботе, комфорте и разумных затратах
		
		.compare-grid
			//SINGLE CARD
			.compare-card.grey-block
				.title-30 Сиделка
				.compare-list.check-marker
					.compare-list__title Преимущества
					ul
						li
							.h5 Индивидуальный подход
							p Сиделка полностью сосредоточена на одном человеке.
						li
							.h5 Привычная домашняя обстановка
							p Близкий человек остается в знакомой среде.
				
				.compare-list.line-marker
					.compare-list__title Минусы
					ul
						li
							.h5 Высокая стоимость
							p 1200 рублей в сутки — значительная финансовая нагрузка, особенно при длительном уходе. В месяц это составит 36 000 рублей.
						li
							.h5 Ограниченность ресурсов
							p Сиделка, как правило, не может обеспечить круглосуточное наблюдение и специализированный медицинский уход. Возникают сложности с заменой сиделки на время ее отдыха или болезни.
						li
							.h5 Бытовые вопросы
							p Приготовление пищи, уборка, стирка и другие бытовые задачи могут отнимать время у сиделки, предназначенное для ухода.
						li
							.h5 Отсутствие социализации
							p Пожилому человеку может не хватать общения и взаимодействия с другими людьми.
				//card-footer
				.compare-card__footer
					.price-block
						p 1200&#8381; #[span В сутки]
					
					
			
			//SINGLE CARD
			.compare-card.grey-block
				.title-30 Пансионат
				.compare-list.check-marker
					.compare-list__title Преимущества
					ul
						li
							.h5 Доступная стоимость
							p 740 рублей в сутки — существенная экономия по сравнению с услугами сиделки. В месяц проживание обойдется всего в 22 200 рублей. Вы экономите 13 800 рублей ежемесячно!
						li
							.h5 Круглосуточный уход и наблюдение
							p Специалисты пансионата всегда рядом, готовы оказать помощь и поддержку в любое время.
						li
							.h5 Медицинское обслуживание
							p Возможность получения необходимой медицинской помощи и консультаций специалистов.
						li
							.h5 Социализация и досуг
							p Общение со сверстниками, участие в мероприятиях и развлекательных программах.
						li
							.h5 Комфортные условия проживания
							p Уютные номера, специально оборудованные для пожилых людей.
						li
							.h5 Отсутствие бытовых забот
							p Все бытовые вопросы решаются персоналом пансионата.
						
				
				
				.compare-list.line-marker
					.compare-list__title Минусы
					ul
						li
							.h5 Адаптация к новой обстановке
							p Некоторым пожилым людям требуется время, чтобы привыкнуть к новому месту жительства. Но персонал пансионата и с этим поможет!
						
				//card-footer
				.compare-card__footer
					.price-block
						p 740&#8381; #[span В сутки]
					button.btn-primary.w-100(type="button") Заказать #[span.hide-mobile услуги пансионата]		