//CONSULTATION
section.consultation-help
	.container
		.consultation-row.d-flex
			.consultation-contacts.green-bg
				.header-hroup
					h2.h1  Консультация по #[span.accent-word размещению]				
					.txt-22 Оставьте заявку, и мы свяжемся с вами, чтобы обсудить ваши потребности
				
				.contacts-block
					a(href="tel:").phone-link-icon.txt-22  +7 (800) 775-46-13
					p Позвоните нам по бесплатному номеру
			
			.green-bg.form-wrapper
				//FORM
				form.consult-form.dark-bg
					.form-item
						label.label Ваше имя
						input(type="text" placeholder="Иван")
					.form-item
						label.label Ваш телефон
						input(type="tel" placeholder="+7 (000) 000-00-00")
					.agree-block
						label.checkbox-item
							input(type="checkbox" checked)
							span.custom-checkbox
							span Я ознакомлен и согласен с условиями #[a(href="#!") пользовательского соглашения]

					.form-btn
						button.btn-primary.w-100(type="submit") Оставить заявку