//СЕРТИФИКАТЫ
section.docs
	.container
		h2.h1 Мы работаем #[span.accent-word открыто и легально]
	.docs-slider.overlay-bg
		
		a.doc-card(href="./img/sertificate.webp" data-fancybox="gallery-docs")
			.doc-card__img
				img.img-contain(src="./img/sertificate.webp", srcset="./img/sertificate@2x.webp 2x" width="520" height="730" alt="img")
			.h3 Правила пребывания
		a.doc-card(href="./img/sertificate.webp" data-fancybox="gallery-docs")
			.doc-card__img
				img.img-contain(src="./img/sertificate.webp", srcset="./img/sertificate@2x.webp 2x" width="520" height="730" alt="img")
			.h3 Правила пребывания
	
		a.doc-card(href="./img/sertificate.webp" data-fancybox="gallery-docs")
			.doc-card__img
				img.img-contain(src="./img/sertificate.webp", srcset="./img/sertificate@2x.webp 2x" width="520" height="730" alt="img")
			.h3 Правила пребывания
	
		a.doc-card(href="./img/sertificate.webp" data-fancybox="gallery-docs")
			.doc-card__img
				img.img-contain(src="./img/sertificate.webp", srcset="./img/sertificate@2x.webp 2x" width="520" height="730" alt="img")
			.h3 Правила пребывания
	
		a.doc-card(href="./img/sertificate.webp" data-fancybox="gallery-docs")
			.doc-card__img
				img.img-contain(src="./img/sertificate.webp", srcset="./img/sertificate@2x.webp 2x" width="520" height="730" alt="img")
			.h3 Правила пребывания
	
	
	//slider pagination
	.docs-pagination.slider-pagination
		button.btn-prev(type="button")
			span.arrow-left
		button.btn-next(type="button")
			span.arrow-right