//QUESTIONS
section.faq
	.container
		.header-group.d-flex
			h2.h1 #[span.accent-word Частые] вопросы
			.txt-22
			
				p Ответы на самые частые вопросы о проживании в пансионате. Узнайте о стоимости, условиях проживания и дополнительных услугах. Посмотрите видео и узнайте все, что вас интересует
		.faq-content
			a(href="https://www.youtube.com/watch?v=i57-yuokvQE&roistat_visit=3229966" target="_blank"  data-fancybox="video3").faq-video.video-link
				img.img-cover.img-round(src="./img/video-posters/poster1.webp", width="1100" height="474" alt="img")