//FEEDBACK
section.feedback
	.container
		.feedback-content
			.feedback-title
				h2.title-40 #[span.accent-word Мы предлагаем] не просто уход, а полноценную заботу, внимание и комфорт, которые заслуживают ваши близкие!
				.txt-22
					p Запишитесь на бесплатную консультацию
					p Не откладывайте. Сделайте это прямо сейчас!

			.feedback-row
				.form-wrapper__bg
					.form-wrapper
						.h4 Консультация по&nbsp;размещению
						form.contacts-form
							.form-item
								label.label Ваш номер телефона
								input(type="tel" placeholder="+7 (000) 000-00-00")

							.agree-block
								label.checkbox-item
									input(type="checkbox" checked)
									span.custom-checkbox
									span Я ознакомлен и согласен с условиями #[a(href="#!") пользовательского соглашения]
							.form-btn
								button.btn-primary.w-100(type="submit")  Оставить заявку
				.form-img
					img.img-cover(src="./img/feedback-bg.webp",  srcset="./img/feedback-bg@2x.webp 2x" width="1060" height="490" alt="img")
