//FOOTER
footer.footer
	.container
		.footer-top
			.footer-logo
				img(src="./img/logo.webp", alt="alt")
			.footer-slogan
				p  Я бы сюда добавил краткое описаниеМожет слоган какой нибудь
			.footer__contacts
				.social-group
					a(href="#!")
						img(src="./img/socials/vk.webp", width="25" height="25" alt="vk")
					a(href="#!")
						img(src="./img/socials/ok.webp", width="25" height="25" alt="ok")
					
					a(href="#!")
						img(src="./img/socials/youtube.webp", width="25" height="25" alt="youtube")
				a(href="tel:").phone-link
					img(src="./img/socials/phone.webp", width="25" height="25" alt="img")
			.footer-info
				p Персональные данные обрабатываются на сайте в целях его функционирования, если вы не согласны, пожалуйста покиньте сайт. В противном случае это будет являться согласием на обработку персональных данных. #[a.txt-link(href="#!") Подробнее].
			.footer-nav
				.h3 Услуги
				ul
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
			.footer-nav
				.h3 Услуги
				ul
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
			.footer-nav
				.h3 Услуги
				ul
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
						.footer-nav

				.h3 Услуги
				ul
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
			.footer-nav
				.h3 Услуги
				ul
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
			.footer-nav
				.h3 Услуги
				ul
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
