//FOOTER
footer.footer
	.container
		.footer-top
			.footer-logo
				img(src="./img/logo.webp", alt="alt")
			.footer-slogan.txt-22
				p  Я бы сюда добавил краткое описаниеМожет слоган какой нибудь
			.contacts-group
				.social-group
					a(href="#!")
						img(src="./img/socials/vk.webp", width="25" height="25" alt="vk")
					a(href="#!")
						img(src="./img/socials/ok.webp", width="25" height="25" alt="ok")
					
					a(href="#!")
						img(src="./img/socials/youtube.webp", width="25" height="25" alt="youtube")
				a(href="tel:").phone-link
					img(src="./img/socials/phone.webp", width="25" height="25" alt="img")
			.footer-info.txt-20
				p Персональные данные обрабатываются на сайте в целях его функционирования, если вы не согласны, пожалуйста покиньте сайт. В противном случае это будет являться согласием на обработку персональных данных.  #[a.txt-link(href="#!") Подробнее].
				.bank-details
					p ООО "Добро"
					ul
						li #[b ИНН:] 6163209088
						li #[b ОГРН:] 1186196012144



			.footer-nav
				.h3 Услуги
				ul
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Частный санаторий
					li
						a(href="#!") Санаторий после операции на позвоночнике
					li
						a(href="#!") Санаторий после ишемического инсульта
					li
						a(href="#!") Массаж после операции
					li
						a(href="#!") Массаж после инсульта
					li
						a(href="#!") Дом-интернат
					li
						a(href="#!") Организация питания
					li
						a(href="#!") Досуг
					li
						a(href="#!") Временное проживание
					li
						a(href="#!") ЛФК
					li
						a(href="#!") Массаж для пожилых
					li
						a(href="#!") Транспортировка
					li
						a(href="#!") Сиделка для пожилых
					li
						a(href="#!") Хоспис
					li
						a(href="#!") Врачебный осмотр
					

			.footer-nav
				.h3 Услуги
				ul
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					li
						a(href="#!") Медицинская помощь
					
			.footer-nav
				.h3 О нас
				ul
					li
						a(href="#!") Вакансии
					li
						a(href="#!") Оформление
					li
						a(href="#!") Условия проживания
					li
						a(href="#!") Специалисты
					li
						a(href="#!") VIP-Дома
					li
						a(href="#!") Сеть домов престарелых Добро
					li
						a(href="#!") Наши партнеры
					li
						a(href="#!") Франшиза
					li
						a(href="#!") Частые вопросы
					li
						a(href="#!") Благодарность спонсорам
					li
						a(href="#!") Политика конфиденциальности
					li
						a(href="#!") Информация об исполнителе
					li
						a(href="#!") Правила внутреннего распорядка в пансионате
					li
						a(href="#!") Правила внутреннего трудового распорядка пансионата					
			
			.footer-nav
				.h3 Рехаб
				ul
					li
						a(href="#!") Реабилитация при заболеваниях сердечно-сосудистой системы
					li
						a(href="#!") После различных заболеваний
					li
						a(href="#!") После хирургического вмешательства
					li
						a(href="#!") После черепно-мозговой травмы
					li
						a(href="#!") После удалению межпозвоночной грыжи
					li
						a(href="#!") После лечения сколиоза
					li
						a(href="#!") После операции на позвоночнике
					li
						a(href="#!") После компрессионного перелома
					li
						a(href="#!") При адгезивном капсулите
					li
						a(href="#!") Пожилых с диабетом
					li
						a(href="#!") После депрессии
					li
						a(href="#!") После стресса
					li
						a(href="#!") После остеохондроза
					li
						a(href="#!") После катаракты
					li
						a(href="#!") Реабилитация пожилых
					li
						a(href="#!") Логопед после инсульта
					li
						a(href="#!") При заболеваниях ОДА
					li
						a(href="#!") При атеросклерозе
					li
						a(href="#!") После инсульта
					li
						a(href="#!") После инфаркта
					li
						a(href="#!") После лучевой и химиотерапии
					li
						a(href="#!") После перелома шейки бедра
					li
						a(href="#!") После эндопротезирования
					li
						a(href="#!") После ДТП
			
			.footer-nav
				.h3 Уход
				ul
					li
						a(href="#!") Паллиативный уход
					li
						a(href="#!") С варикозом
					li
						a(href="#!") С заболеваниями суставов
					li
						a(href="#!") При гипертонии
					li
						a(href="#!") С заболеваниями нервной системы
					li
						a(href="#!") При неврозах
					li
						a(href="#!") После инфаркта
					li
						a(href="#!") После травм
					li
						a(href="#!") С сахарным диабетом
					li
						a(href="#!") С болезнью Альцгеймера
					li
						a(href="#!") С Паркинсоном
					li
						a(href="#!") Онкобольным
					li
						a(href="#!") Уход за пожилыми людьми
					li
						a(href="#!") За инвалидами
					li
						a(href="#!") С деменцией
					li
						a(href="#!") Со склерозом
					li
						a(href="#!") Старше 80 лет
					li
						a(href="#!") С переломом шейки бедра
					li
						a(href="#!") За лежачими
					li
						a(href="#!") За психическими больными
					li
						a(href="#!") За слепыми
					li
						a(href="#!") За тяжелобольными
					li
						a(href="#!") Круглосуточный уход за пожилыми
					li
						a(href="#!") Уход за пожилыми после травм
					
			.footer-nav
				.h3 Пансионаты
				ul
					li
						a(href="#!") Для лежачих больных
					li
						a(href="#!") Для больных Альцгеймером
					li
						a(href="#!") Для больных Деменцией
					li
						a(href="#!") Для больных склерозом
					li
						a(href="#!") Для диабетиков
					li
						a(href="#!") Для душевнобольных людей
					li
						a(href="#!") Для инвалидов колясочников
					li
						a(href="#!") Для пожилых после инсульта
					li
						a(href="#!") Для пожилых с болезнью Паркинсона
					li
						a(href="#!") Для пожилых с депрессией
					li
						a(href="#!") Для престарелых с артрозом
					li
						a(href="#!") Для престарелых с неврозом
					li
						a(href="#!") Для слабовидящих


		//BOTTOM MENU
		ul.add-menu
			
			li
				a(href="#!") Цены
			li
				a(href="#!") Галерея
			li
				a(href="#!") Отзывы
			li
				a(href="#!") Блог
			li
				a(href="#!") Контакты
	
		.footer-copyright.txt-18.d-flex
			p Сеть частных пансионатов для пожилых людей
			p Все права защищены, © 2015 - 2025