section.franchise-form.green-bg
	.container
		h2.h1 #[span.accent-word Откройте] свой пансионат с нами<br>подайте заявку на франшизу сегодня!
		form.large-form.dark-bg(action="#!") 
			.large-form-inputs
				.form-item
					label.label Ваше имя
					input(type="text" placeholder="Иван")
				.form-item
					label.label Ваш телефон
					input(type="tel" placeholder="+7 (000) 000-00-00")
				.form-btn
					button.btn-primary.w-100(type="submit") Оставить заявку
			
			
			.agree-block
				p Нажимая кнопку #[span.txt-accent "Оставить заявку"], вы даете согласие на обработку персональных данных в соответствии с #[a.txt-inherit(href="#!") политикой конфиденциальности.]