//GALLERY
section.gallery
	.container
		h2.h1 Фото
	
	//slider desktop
	.gallery-slider-grid
		//single slide
		.gallery-group
			.gallery-item
				img(src="./img/gallery/1.webp", width="640" height="430" srcset="./img/gallery/1@2x.webp 2x" alt="alt")
			.gallery-item
				img(src="./img/gallery/6.webp", width="400" height="430" srcset="./img/gallery/6@2x.webp 2x" alt="alt")
			.gallery-item
				img(src="./img/gallery/2.webp", width="780" height="430" srcset="./img/gallery/2@2x.webp 2x" alt="alt")
			.gallery-item
				img(src="./img/gallery/3.webp", width="1060" height="430" srcset="./img/gallery/3@2x.webp 2x" alt="alt")
			.gallery-item
				img(src="./img/gallery/4.webp", width="380" height="430" srcset="./img/gallery/4@2x.webp 2x" alt="alt")
			.gallery-item
				img(src="./img/gallery/5.webp", width="380" height="430" srcset="./img/gallery/5@2x.webp 2x" alt="alt")
		//single slide
		.gallery-group
			.gallery-item
				img(src="./img/gallery/1.webp", width="640" height="430" srcset="./img/gallery/1@2x.webp 2x" alt="alt")
			.gallery-item
				img(src="./img/gallery/6.webp", width="400" height="430" srcset="./img/gallery/6@2x.webp 2x" alt="alt")
			.gallery-item
				img(src="./img/gallery/2.webp", width="780" height="430" srcset="./img/gallery/2@2x.webp 2x" alt="alt")
			.gallery-item
				img(src="./img/gallery/3.webp", width="1060" height="430" srcset="./img/gallery/3@2x.webp 2x" alt="alt")
			.gallery-item
				img(src="./img/gallery/4.webp", width="380" height="430" srcset="./img/gallery/4@2x.webp 2x" alt="alt")
			.gallery-item
				img(src="./img/gallery/5.webp", width="380" height="430" srcset="./img/gallery/5@2x.webp 2x" alt="alt")


	//slider mobile
	.gallery-slider.overflay-bg
		.gallery-item
			img(src="./img/gallery/mob1.webp", width="342" height="300" srcset="./img/gallery/mob1@2x.webp 2x" alt="alt")
		.gallery-item
			img(src="./img/gallery/mob2.webp", width="342" height="300" srcset="./img/gallery/mob2@2x.webp 2x" alt="alt")
		.gallery-item
			img(src="./img/gallery/mob3.webp", width="342" height="300" srcset="./img/gallery/mob3@2x.webp 2x" alt="alt")
		.gallery-item
			img(src="./img/gallery/mob1.webp", width="342" height="300" srcset="./img/gallery/mob1@2x.webp 2x" alt="alt")
		.gallery-item
			img(src="./img/gallery/mob2.webp", width="342" height="300" srcset="./img/gallery/mob2@2x.webp 2x" alt="alt")
		.gallery-item
			img(src="./img/gallery/mob3.webp", width="342" height="300" srcset="./img/gallery/mob3@2x.webp 2x" alt="alt")
		
		