//HEADER
header.header
	//HEADER TOP
	.header-top
		.container
			.header-top__content
				.header-top__links
					//SOCIAL GROUP
					.social-group
						a(href="#!")
							img(src="./img/socials/vk.webp", width="25" height="25" alt="vk")
						a(href="#!")
							img(src="./img/socials/ok.webp", width="25" height="25" alt="vk")
						a(href="#!")
							img(src="./img/socials/youtube.webp", width="25" height="25" alt="vk")
					
					a(href="tel:").phone-link
						img(src="./img/phone.webp", width="25" height="25" alt="img")
				
				//BUTTONS
				.header-top__buttons
					
					button.btn-primary(type="btn") Забронировать
						svg.svg-arrow-r
							use(href='./img/sprite.svg#svg-arrow-r')
							
					
					button.btn(type="btn")
						img(src="./img/phone.webp", width="25" height="25" alt="img")
						| Заказать звонок