//HEADER
header.header
	//ШАПКА НА МОБ ВЕРСИИ
	.header-mobile
		a(href="#!").logo
			img.img-contain(src="./img/logo.webp", width="260" height="66" alt="logo")
		button.menu-button
			span
	
	//ШАПКА НА DESKTOP, НА МОБ ВЕРСИИ ОТОБРАЖАЕТСЯ ПО КЛИКУ НА БУРГЕР
	.header-section#mobile-menu
		.scroll-wrapper
			//HEADER TOP
			.header-top
				.header-container
					
					.contacts-group
						//SOCIAL GROUP
						.social-group
							a(href="#!")
								picture
									source(media="(max-width: 1199px)" srcset="./img/socials/vk-white.webp")

									img(src="./img/socials/vk.webp", width="25" height="25" alt="vk")
							a(href="#!")
								picture
									source(media="(max-width: 1199px)" srcset="./img/socials/ok-white.webp")
									img(src="./img/socials/ok.webp", width="25" height="25" alt="ok")
							
							a(href="#!")
								picture
									source(media="(max-width: 1199px)" srcset="./img/socials/youtube-white.webp")
									
									img(src="./img/socials/youtube.webp", width="25" height="25" alt="youtube")
						
						a(href="tel:").phone-link
							picture
								source(media="(max-width: 1199px)" srcset="./img/socials/phone-white.webp")
								img(src="./img/phone.webp", width="25" height="25" alt="img")
					
					//BUTTONS
					.header-top__buttons
						button.btn-primary(type="button") Забронировать
							svg.svg-arrow-r
								use(href='./img/sprite.svg#svg-arrow-r')
								
						
						button.btn(type="button")
							img(src="./img/phone.webp", width="20" height="20" alt="img")
							| Заказать звонок

			//HEADER NAVIGATION
			.header-nav
				.header-container
					a(href="#!").logo
						img.img-contain(src="./img/logo.webp", width="260" height="66" alt="logo")
					.header-menu-wrapper
						ul.header-menu
							li.header-menu-item.has-drop
								a(href="#!").header-menu-link 
									span О нас
								//SUBMENU
								.header-sub-menu
									.scroll-wrapper
										ul.header-sub-list
											li
												a(href="#!") Вакансии
													
											li
												a(href="#!") Специалисты
											li
												a(href="#!") Наши партнеры
											li
												a(href="#!") Благодарность спонсорам
											li
												a(href="#!") Правила внутреннего распорядка в пансионате
											li
												a(href="#!") Оформление
											li
												a(href="#!") VIP - Дома
											li
												a(href="#!") Франшиза
											li
												a(href="#!") Политика конфиденциальности
											li
												a(href="#!") Правила внутреннего трудового распорядка паснионата
											li
												a(href="#!") Условия проживания
											li
												a(href="#!") Сеть домов престарелых Добро
											li
												a(href="#!") Частые вопросы
											li
												a(href="#!") Информация об исполнителе
									
							li.header-menu-item
								a(href="#!").header-menu-link 
									span Уход
							
							li.header-menu-item
								a(href="#!").header-menu-link 
									span Услуги
							li.header-menu-item
								a(href="#!").header-menu-link 
									span Пансионаты
							
							li.header-menu-item
								a(href="#!").header-menu-link 
									span Рехаб
							li.header-menu-item
								a(href="#!").header-menu-link 
									span Цены
							
							li.header-menu-item
								a(href="#!").header-menu-link 
									span Галерея
							li.header-menu-item
								a(href="#!").header-menu-link 
									span Отзывы
							li.header-menu-item
								a(href="#!").header-menu-link 
									span Блог
							
							li.header-menu-item
								a(href="#!").header-menu-link 
									span Контакты