//КАК РАБОТАЕМ
section.how-work
	.container
		.header-group
			h2.h1 Как мы #[span.accent-word работаем]
			.txt-22
				p Прозрачность и надежность на каждом этапе	
		.how-work-grid
			article.benefit-card
				.benefit-card__top
					.benefit-card__icon
						span
							img(src="./img/benefits-icons/icon4.svg", width="30" height="30" alt="img")
					.h3 Заявка
				p.txt-18 Вы звоните нам или оставляете заявку на сайте, и наш менеджер консультирует вас по услугам пансионата.
		
			article.benefit-card
				.benefit-card__top
					.benefit-card__icon
						span
							img(src="./img/benefits-icons/icon5.svg", width="30" height="30" alt="img")
					.h3 Экскурсия
				p.txt-18 Вы познакомитесь с главным врачом отделения и пообщаетесь с персоналом.
		
			article.benefit-card
				.benefit-card__top
					.benefit-card__icon
						span
							img(src="./img/benefits-icons/icon6.svg", width="30" height="30" alt="img")
					.h3 Размещение
				p.txt-18 Вы заключаете договор на проживание, и мы доставляем вашего близкого в пансионат на собственном транспорте.