//СМИ О НАС
section.about-media
	.container
		h2.h1 #[span.accent-word Пресса] о нас
	.about-media-slider.overlay-bg
		.about-media-card
			.about-media__img
				img.img-cover(src="./img/media.webp", width="520" height="300" srcset="./img/media@2x.webp 2x" alt="alt")
			.about-media__txt
				.h5 Про добро. Частные дома престарелых – бизнес или благотворительность?
				p В Ростовской области уже пять лет работает сеть частных пансионатов для престарелых жителей «Добро». О том, как пришла в голову идея проекта, сложно ли работать социальному бизнесу и как государство может помочь пожилым людям, корреспонденту «АиФ-Ростов» рассказал донской предприниматель Евгений Атаманчук
			.about-media__footer
				a(href="#!").btn-primary.w-100 
					span.hide-mobile Перейти на статью
					span.hide-desktop Подробнее
		.about-media-card
			.about-media__img
				img.img-cover(src="./img/media.webp", width="520" height="300" srcset="./img/media@2x.webp 2x" alt="alt")
			.about-media__txt
				.h5 Про добро. Частные дома престарелых – бизнес или благотворительность?
				p В Ростовской области уже пять лет работает сеть частных пансионатов для престарелых жителей «Добро». О том, как пришла в голову идея проекта, сложно ли работать социальному бизнесу и как государство может помочь пожилым людям, корреспонденту «АиФ-Ростов» рассказал донской предприниматель Евгений Атаманчук
			.about-media__footer
				a(href="#!").btn-primary.w-100 
					span.hide-mobile Перейти на статью
					span.hide-desktop Подробнее
		.about-media-card
			.about-media__img
				img.img-cover(src="./img/media.webp", width="520" height="300" srcset="./img/media@2x.webp 2x" alt="alt")
			.about-media__txt
				.h5 Про добро. Частные дома престарелых – бизнес или благотворительность?
				p В Ростовской области уже пять лет работает сеть частных пансионатов для престарелых жителей «Добро». О том, как пришла в голову идея проекта, сложно ли работать социальному бизнесу и как государство может помочь пожилым людям, корреспонденту «АиФ-Ростов» рассказал донской предприниматель Евгений Атаманчук
			.about-media__footer
				a(href="#!").btn-primary.w-100 
					span.hide-mobile Перейти на статью
					span.hide-desktop Подробнее
		.about-media-card
			.about-media__img
				img.img-cover(src="./img/media.webp", width="520" height="300" srcset="./img/media@2x.webp 2x" alt="alt")
			.about-media__txt
				.h5 Про добро. Частные дома престарелых – бизнес или благотворительность?
				p В Ростовской области уже пять лет работает сеть частных пансионатов для престарелых жителей «Добро». О том, как пришла в голову идея проекта, сложно ли работать социальному бизнесу и как государство может помочь пожилым людям, корреспонденту «АиФ-Ростов» рассказал донской предприниматель Евгений Атаманчук
			.about-media__footer
				a(href="#!").btn-primary.w-100 
					span.hide-mobile Перейти на статью
					span.hide-desktop Подробнее
		.about-media-card
			.about-media__img
				img.img-cover(src="./img/media.webp", width="520" height="300" srcset="./img/media@2x.webp 2x" alt="alt")
			.about-media__txt
				.h5 Про добро. Частные дома престарелых – бизнес или благотворительность?
				p В Ростовской области уже пять лет работает сеть частных пансионатов для престарелых жителей «Добро». О том, как пришла в голову идея проекта, сложно ли работать социальному бизнесу и как государство может помочь пожилым людям, корреспонденту «АиФ-Ростов» рассказал донской предприниматель Евгений Атаманчук
			.about-media__footer
				a(href="#!").btn-primary.w-100 
					span.hide-mobile Перейти на статью
					span.hide-desktop Подробнее
		.about-media-card
			.about-media__img
				img.img-cover(src="./img/media.webp", width="520" height="300" srcset="./img/media@2x.webp 2x" alt="alt")
			.about-media__txt
				.h5 Про добро. Частные дома престарелых – бизнес или благотворительность?
				p В Ростовской области уже пять лет работает сеть частных пансионатов для престарелых жителей «Добро». О том, как пришла в голову идея проекта, сложно ли работать социальному бизнесу и как государство может помочь пожилым людям, корреспонденту «АиФ-Ростов» рассказал донской предприниматель Евгений Атаманчук
			.about-media__footer
				a(href="#!").btn-primary.w-100 
					span.hide-mobile Перейти на статью
					span.hide-desktop Подробнее
		.about-media-card
			.about-media__img
				img.img-cover(src="./img/media.webp", width="520" height="300" srcset="./img/media@2x.webp 2x" alt="alt")
			.about-media__txt
				.h5 Про добро. Частные дома престарелых – бизнес или благотворительность?
				p В Ростовской области уже пять лет работает сеть частных пансионатов для престарелых жителей «Добро». О том, как пришла в голову идея проекта, сложно ли работать социальному бизнесу и как государство может помочь пожилым людям, корреспонденту «АиФ-Ростов» рассказал донской предприниматель Евгений Атаманчук
			.about-media__footer
				a(href="#!").btn-primary.w-100 
					span.hide-mobile Перейти на статью
					span.hide-desktop Подробнее
	//slider pagination
	.about-media-pagination.slider-pagination
		button.btn-prev(type="button")
			span.arrow-left
		button.btn-next(type="button")
			span.arrow-right
