//PROMO
section.promo
	.container
		.promo-content.invert-border-image
			.promo-title.inverted-border-radius
				h1.h1 #[span.primary-word Профессиональный] уход и&nbsp;реабилитационные программы для пожилых людей 
			.promo-img
				img.img-cover(src="./img/header-bg.webp" srcset="./img/header-bg@2x.webp 2x", width="1660" height="680" alt="alt")
			