//PROMO
section.promo
	.container
		.promo-content
			.promo-title
				h1.h1  Франшиза пансионатов #[span.accent-word “Добро”]
			.promo-video
				a.video-link(href="https://www.youtube.com/watch?v=i57-yuokvQE&roistat_visit=3229966" target="_blank"  data-fancybox="video3")
					.promo-video-title
						h2.h2 Забота, которая приносит доход
						p.txt-22 Гарантированный заработок от 300т рублей в месяц, помогая людям обрести счастливую старость
						span.btn-primary.yout-btn
							img(src="./img/icons/yout.webp", width="25" height="18" alt="btn")
							span Перейти к видео
					img.img-cover(src="./img/franshiza/promo.webp", srcset="./img/franshiza/promo@2x.webp 2x" width="790" height="627" alt="alt")
				
			.franchise-benefits
				.light-card
					.round-icon
						img(src="./img/icons/i1.webp", width="30" height="30" alt="btn")
					.h5 Паушальный взнос1<br>млн. руб.
				.light-card
					.round-icon
						img(src="./img/icons/i2.webp", width="30" height="30" alt="btn")
					.h5 Инвестиции<br>1,5 млн. руб.
				.light-card
					.round-icon
						img(src="./img/icons/i3.webp", width="30" height="30" alt="btn")
					.h5 Окупаемость<br>12 мес.
				.light-card
					.round-icon
						img(src="./img/icons/i4.webp", width="30" height="30" alt="btn")
					.h5 Роялти 200 тыс. руб.<br>с 5-го месяца