//REVIEW
section.review
	.container
		.header-group.d-flex
			h2.h1 #[span.accent-word Что говорят] наши клиенты
			.txt-22
				p Реальные истории и отзывы людей, которые доверили нам заботу о своих близких.
	.review-slider.overlay-bg
		.review-card
			.review-card__header
				.review-card__img
					img(src="./img/review-avatar.webp", width="60" height="60" alt="img")
				.review-card__txt
					.h3 Рассказать кратко о чем видео
			.review-card__video
				a(href="#!").video-link
					img.img-cover.img-round(src="./img/video-posters/poster-small.webp", width="480" height="250" alt="img")
		.review-card
			.review-card__header
				.review-card__img
					img(src="./img/review-avatar.webp", width="60" height="60" alt="img")
				.review-card__txt
					.h3 Рассказать кратко о чем видео
			.review-card__video
				a(href="#!").video-link
					img.img-cover.img-round(src="./img/video-posters/poster-small.webp", width="480" height="250" alt="img")
		.review-card
			.review-card__header
				.review-card__img
					img(src="./img/review-avatar.webp", width="60" height="60" alt="img")
				.review-card__txt
					.h3 Рассказать кратко о чем видео
			.review-card__video
				a(href="#!").video-link
					img.img-cover.img-round(src="./img/video-posters/poster-small.webp", width="480" height="250" alt="img")
		.review-card
			.review-card__header
				.review-card__img
					img(src="./img/review-avatar.webp", width="60" height="60" alt="img")
				.review-card__txt
					.h3 Рассказать кратко о чем видео
			.review-card__video
				a(href="#!").video-link
					img.img-cover.img-round(src="./img/video-posters/poster-small.webp", width="480" height="250" alt="img")
		.review-card
			.review-card__header
				.review-card__img
					img(src="./img/review-avatar.webp", width="60" height="60" alt="img")
				.review-card__txt
					.h3 Рассказать кратко о чем видео
			.review-card__video
				a(href="#!").video-link
					img.img-cover.img-round(src="./img/video-posters/poster-small.webp", width="480" height="250" alt="img")
		.review-card
			.review-card__header
				.review-card__img
					img(src="./img/review-avatar.webp", width="60" height="60" alt="img")
				.review-card__txt
					.h3 Рассказать кратко о чем видео
			.review-card__video
				a(href="#!").video-link
					img.img-cover.img-round(src="./img/video-posters/poster-small.webp", width="480" height="250" alt="img")
	//slider pagination
	.review-pagination.slider-pagination
		button.btn-prev(type="btn")
			span.arrow-left
		button.btn-next(type="btn")
			span.arrow-right
			