//SERVICES
section.services
	.container
		h2.h1.txt-center.mb-30  Что #[span.accent-word получают] наши постояльцы?
		.services-cards.three-columns
			.service-card
				.service-card__img
					img.img-cover(src="./img/service/serv1.webp", srcset="./img/service/serv1@2x.webp 2x" width="520" height="300" alt="img")
				.service-card__body
					.h3 Комфорт и удобство
					ul.check-marker
						li Просторные номера, оборудованные всем необходимым: телевизор, Wi-Fi, телефон.
						li Функциональные кровати, идеально подходящие для реабилитации после травм и операций.
						li Индивидуальные программы реабилитации для улучшения физического состояния.
						li Полная адаптация помещений<br>для маломобильных постояльцев,чтобы обеспечить их комфорт и безопасность.
			
			.service-card
				.service-card__img
					img.img-cover(src="./img/service/serv2.webp", srcset="./img/service/serv2@2x.webp 2x" width="520" height="300" alt="img")
				.service-card__body
					.h3 Профессиональный уход и забота
					ul.check-marker
						li Специальный уход за пожилыми с заболеваниями Паркинсона, Альцгеймера и деменцией.
						li Регулярные медицинские осмотры и выполнение всех необходимых процедур.
						li Регулярные медицинские осмотры и выполнение всех необходимых процедур.
						li Круглосуточный уход за лежачими<br>и маломобильными постояльцами с вниманием и теплотой.
						
			.service-card
				.service-card__img
					img.img-cover(src="./img/service/serv3.webp", srcset="./img/service/serv3@2x.webp 2x" width="520" height="300" alt="img")
				.service-card__body
					.h3 Здоровое питание
					ul.check-marker
						li Использование только свежих и качественных продуктов для приготовления блюд.
						li Возможность индивидуального подбора рациона для постояльцев с аллергиями или специфическими потребностями.
						li Контроль за соблюдением питьевого режима и предоставление полезных напитков, включая травяные чаи и компоты.
						li Сбалансированное 5-разовое питание, учитывающее особенности здоровья каждого постояльца.
						
			.service-card
				.service-card__img
					img.img-cover(src="./img/service/serv4.webp", srcset="./img/service/serv4@2x.webp 2x" width="520" height="300" alt="img")
				.service-card__body
					.h3 Интересный досуг и поддержка духа
					ul.check-marker
						li Прогулки на свежем воздухе для улучш активные игры и большая библиотека.
						li Развлекательные программы, чтение, активные игры и большая библиотека.
						li Организация мероприятий для поддержания позитивного настроения и вовлеченности.
			
			.service-card
				.service-card__img
					img.img-cover(src="./img/service/serv5.webp", srcset="./img/service/serv5@2x.webp 2x" width="520" height="300" alt="img")
				.service-card__body
					.h3 Забота о безопасности и стабильности
					ul.check-marker
						li Круглосуточное наблюдение психолога для эмоционального благополучия.
						li Система видеонаблюдения для обеспечения контроля и защиты.
						li Профессиональный и доброжелательный персонал, прошедший гериатрическую подготовку.
			.service-card
				.service-card__img
					img.img-cover(src="./img/service/serv6.webp", srcset="./img/service/serv6@2x.webp 2x" width="520" height="300" alt="img")
				.service-card__body
					.h3 Услуги, которые облегчают жизнь
					ul.check-marker
						li Ежедневная уборка комнат, стирка и глажка белья — для поддержания уюта.
						li Атмосфера как дома: мы заботимся о создании тепла, уюта и ощущения семейного окружения.
						li Организация безопасного трансфера «от кровати до кровати», чтобы ваше  было минимальным.
						
						