//STATISTIC
section.statistics
	.container
		h2.h1.mb-30 #[span.accent-word Цифры] говорят за себя
		.statistics-grid.three-columns
			.statistics-card
				.h2 90%
				p клиентов рекомендуют нас своим<br>друзьям и знакомым, подтверждая<br>наше качество
			.statistics-card
				.h2 50
				p развлекательных мероприятий<br>в месяц, обеспечивая активный досуг<br>постояльцев
			.statistics-card
				.h2 70%
				p сотрудников имеют высшее<br>медицинское образование, что<br>гарантирует высокий уровень ухода
			.statistics-card
				.h2 На 10-15
				p человек веделяется 1 врач,<br>для качественного<br>обслуживания
			.statistics-card
				.h2 2000+
				p положительных отзывов подтверждают нашу<br>репутацию. Доверие, подтвержденное тысячами довольных<br>клиентов
			.statistics-card
				.h2 500+
				p каждый месяц мы продлеваем<br>договоров, что говорит о высоком<br>уровне доверия клиентов