//TEAM
section.our-team#team
	.container
		h2.h1.txt-center #[span.accent-word Команда]
		.team-slider.overlay-bg
			.team-card
				.team-card__img
					img.img-cover(src="./img/team/image1.webp", srcset="./img/team/image1@2x.webp 2x" width="260" height="250" alt="img")
				.team-card__txt
					.team-card__title
						p.txt-20 Управляющая
						.h3 Казакова Наталья Артёмовна
					p Тут можно написать краткое описание о сотруднике, о его работе и достижениях. Чем занимается и чем может помочь
			.team-card
				.team-card__img
					img.img-cover(src="./img/team/image2.webp", srcset="./img/team/image2@2x.webp 2x" width="260" height="250" alt="img")
				.team-card__txt
					.team-card__title
						p.txt-20 Сиделка
						.h3 Оксана Денисенко
					p Тут можно написать краткое описание о сотруднике, о его работе и достижениях. Чем занимается и чем может помочь
			.team-card
				.team-card__img
					img.img-cover(src="./img/team/image1.webp", srcset="./img/team/image1@2x.webp 2x" width="260" height="250" alt="img")
				.team-card__txt
					.team-card__title
						p.txt-20 Управляющая
						.h3 Казакова Наталья Артёмовна
					p Тут можно написать краткое описание о сотруднике, о его работе и достижениях. Чем занимается и чем может помочь
			.team-card
				.team-card__img
					img.img-cover(src="./img/team/image2.webp", srcset="./img/team/image2@2x.webp 2x" width="260" height="250" alt="img")
				.team-card__txt
					.team-card__title
						p.txt-20 Сиделка
						.h3 Оксана Денисенко
					p Тут можно написать краткое описание о сотруднике, о его работе и достижениях. Чем занимается и чем может помочь
			.team-card
				.team-card__img
					img.img-cover(src="./img/team/image1.webp", srcset="./img/team/image1@2x.webp 2x" width="260" height="250" alt="img")
				.team-card__txt
					.team-card__title
						p.txt-20 Управляющая
						.h3 Казакова Наталья Артёмовна
					p Тут можно написать краткое описание о сотруднике, о его работе и достижениях. Чем занимается и чем может помочь
		//team pagination
		.team-pagination.slider-pagination
			button.btn-prev(type="button")
				span.arrow-left
			button.btn-next(type="button")
				span.arrow-right