

*, *:after, *:before {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 400;
}

html,
body {
	margin: 0;
	padding: 0;
	color: #1f1d1b;
	font-family: 'Mulish', sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
}
.lock{overflow: hidden;}
a,
a:hover {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
	padding: 0;
	margin: 0;
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
.img-contain, .img-cover{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.img-cover{

	object-fit: cover;
}
input,
button,
button:focus,
input:focus {
	outline: none;
	border: none;
}

button {
	padding: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font-family: inherit;
}

input[type="submit"] {
	padding: 0;
	cursor: pointer;
}

input[type="radio"],
input[type='checkbox'],
input[type="submit"] {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.main{
	display: flex;
	flex-direction: column;
	row-gap:150px;
	&>*{
		flex-shrink: 0;
		width: 100%;
	}
	
	@media (max-width: 1699px) {
		row-gap:120px;
	}
	@media (max-width: 1439px) {
		row-gap:100px;
	}
	
}
.w-100{
	width:100%!important;
}
.container, .header-container{
	width: min(1760px, 100%);
	padding-left: 50px;
	padding-right: 50px;
	margin: 0 auto;
	@media (max-width: 1023px) {
		padding-left:20px;
		padding-right: 20px;
	}
}
.social-group, .social-group a{
	display: flex;
	align-items: center;
	column-gap:15px;
}
.social-group a{justify-content: center;}


.invert-border-image{
	position: relative;
	border-radius:0px;
	overflow: hidden;
}

.inverted-border-radius {
	position: relative;
	width: 1000px;
	background-color: #FFF;
	border-radius: 25px 25px 25px 0;
	position: absolute;
	top: 0;
	left: 0;
	
}
.inverted-border-radius::after {
	content: "";
	position: absolute;
	background-color: transparent;
	box-shadow: -33px -16px 0 0 #d05757;
	display: block;
}
.inverted-border-radius::before {
     content: "";
	position: absolute;
	background-color: transparent;
	
	border-top-left-radius: 25px;
	box-shadow: 0 -25px 0 0 #FFF;
}