.btn, .btn-primary{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	height: 66px;
	transition: .3s; 
	color: #1f1d1b;
	background-color: #F0F0F0;
	border-radius: 15px;
	font-size: 22px;
	font-weight: 600;
	padding-inline: 50px;
	column-gap:10px;
	white-space: nowrap;
	cursor:pointer;
	outline: none;
	&:focus{outline: none;}
	
	&:hover{
		color: #1f1d1b;
		background-color:#E2E2E2;
	}
	&:active{background-color:#d7d7d7;}
	img, svg{flex-shrink: 0;}
	.hide-desktop{display: none;}
	@media (max-width: 1199px) {
		height: 64px;
		.hide-mobile{display: none;}
		.hide-desktop{display: block;}
	}
	
}
.hide-desktop{display: none;}
@media (max-width: 1199px) {
	
	.hide-mobile{display: none;}
	.hide-desktop{display: block;}
}
.btn-primary{
	color: #1E4737;
	background-color: #ccec83;
	&:hover{
		color: #1E4737;
		background-color: #c1e56f;
	}
	&:active{background-color:#b9d771;}
}
.btn--slim{
	height: 55px;
	font-size: 18px;
	@media (max-width: 1199px) {
		height: 55px;
	}
	@media (max-width: 699px) {
		height: 40px;
		font-size: 16px;
		padding-inline:30px;
	}
}
.icon-round{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #ccec83;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	
}