.h1, .h3, .title-35{
	font-weight: 700;
	font-size: 60px;
	line-height: 1.08;
	letter-spacing: -0.02em;
	color: #1f1d1b;
	
}
.h1{
	@media (max-width: 1699px) {
		font-size: 2.95vw;
	}
	@media (max-width: 1364px) {
		font-size:2.9vw;
	}
	@media (max-width: 1199px) {
		font-size:40px; 
	}
	@media (max-width: 767px) {
		font-size:28px;
	}	
}
.title-35{
	font-size: 35px;
	line-height: 1.14;
	@media (max-width: 1199px) {
		font-size: 25px;
	}
}
.txt-opac{
	font-size: 20px;
	color: rgba(31, 29, 27, 0.5);
	@media (max-width: 1199px) {
		font-size: 18px;
	}
}
.h3{

	font-size: 25px;
	@media (max-width: 1439px) {
		font-size: 20px;
	}
	
}
.accent-word{
	display: inline-block;
	border-radius: 15px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #ccec83;
	@media (max-width: 1439px) {
		border-radius: 8px;
	}
}