.stars-rating{
	display: flex;
	align-items: center;
	
	column-gap: 5px;
}
.stars-rating span{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #CCEC83;
	flex-shrink: 0;
	display: block;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.934383 8.93493L3.45744 10.8375L2.49924 13.9015C2.3444 14.3767 2.34243 14.8908 2.49365 15.3673C2.64487 15.8437 2.94116 16.2569 3.33837 16.5453C3.72877 16.843 4.20187 17.0025 4.68718 17C5.17249 16.9975 5.64402 16.8331 6.03152 16.5314L8.49858 14.6566L10.9664 16.5292C11.3561 16.8252 11.8266 16.986 12.3104 16.9884C12.7941 16.9908 13.2662 16.8348 13.6586 16.5428C14.0511 16.2508 14.3438 15.8378 14.4946 15.3631C14.6454 14.8885 14.6466 14.3768 14.4979 13.9015L13.5397 10.8375L16.0628 8.93493C16.452 8.64113 16.7413 8.22785 16.8894 7.75414C17.0375 7.28042 17.0368 6.77049 16.8875 6.29718C16.7382 5.82387 16.4478 5.4114 16.0578 5.11867C15.6679 4.82595 15.1983 4.66795 14.7162 4.66724H11.617L10.6765 1.64064C10.5286 1.16423 10.238 0.748621 9.84655 0.453755C9.45512 0.158889 8.98311 0 8.49858 0C8.01405 0 7.54204 0.158889 7.15061 0.453755C6.75919 0.748621 6.46857 1.16423 6.32068 1.64064L5.3802 4.66724H2.28379C1.80168 4.66795 1.33211 4.82595 0.942165 5.11867C0.552217 5.4114 0.261834 5.82387 0.112492 6.29718C-0.0368494 6.77049 -0.0375104 7.28042 0.110604 7.75414C0.258718 8.22785 0.54803 8.64113 0.937218 8.93493H0.934383Z' fill='%231E4737' /%3e%3c/svg%3e");
	background-size: 17px 17px;
	background-repeat: no-repeat;
	background-position: center;
}
.stars-rating span.disable, .stars-rating-label span{
	background-color: #f0f0f0;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.934383 8.93493L3.45744 10.8375L2.49924 13.9015C2.3444 14.3767 2.34243 14.8908 2.49365 15.3673C2.64487 15.8437 2.94116 16.2569 3.33837 16.5453C3.72877 16.843 4.20187 17.0025 4.68718 17C5.17249 16.9975 5.64402 16.8331 6.03152 16.5314L8.49858 14.6566L10.9664 16.5292C11.3561 16.8252 11.8266 16.986 12.3104 16.9884C12.7941 16.9908 13.2662 16.8348 13.6586 16.5428C14.0511 16.2508 14.3438 15.8378 14.4946 15.3631C14.6454 14.8885 14.6466 14.3768 14.4979 13.9015L13.5397 10.8375L16.0628 8.93493C16.452 8.64113 16.7413 8.22785 16.8894 7.75414C17.0375 7.28042 17.0368 6.77049 16.8875 6.29718C16.7382 5.82387 16.4478 5.4114 16.0578 5.11867C15.6679 4.82595 15.1983 4.66795 14.7162 4.66724H11.617L10.6765 1.64064C10.5286 1.16423 10.238 0.748621 9.84655 0.453755C9.45512 0.158889 8.98311 0 8.49858 0C8.01405 0 7.54204 0.158889 7.15061 0.453755C6.75919 0.748621 6.46857 1.16423 6.32068 1.64064L5.3802 4.66724H2.28379C1.80168 4.66795 1.33211 4.82595 0.942165 5.11867C0.552217 5.4114 0.261834 5.82387 0.112492 6.29718C-0.0368494 6.77049 -0.0375104 7.28042 0.110604 7.75414C0.258718 8.22785 0.54803 8.64113 0.937218 8.93493H0.934383Z' fill='%231e473726' /%3e%3c/svg%3e");
}

.stars-rating-label{
	position: relative;
	font-size: 30px;
	display: block;
}
.stars-rating-label input{
	width: 0.01em;
	height: 0.01em;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}
.stars-rating-label span{color: #d9d9d9;}
.stars-rating-label input:checked + span{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.934383 8.93493L3.45744 10.8375L2.49924 13.9015C2.3444 14.3767 2.34243 14.8908 2.49365 15.3673C2.64487 15.8437 2.94116 16.2569 3.33837 16.5453C3.72877 16.843 4.20187 17.0025 4.68718 17C5.17249 16.9975 5.64402 16.8331 6.03152 16.5314L8.49858 14.6566L10.9664 16.5292C11.3561 16.8252 11.8266 16.986 12.3104 16.9884C12.7941 16.9908 13.2662 16.8348 13.6586 16.5428C14.0511 16.2508 14.3438 15.8378 14.4946 15.3631C14.6454 14.8885 14.6466 14.3768 14.4979 13.9015L13.5397 10.8375L16.0628 8.93493C16.452 8.64113 16.7413 8.22785 16.8894 7.75414C17.0375 7.28042 17.0368 6.77049 16.8875 6.29718C16.7382 5.82387 16.4478 5.4114 16.0578 5.11867C15.6679 4.82595 15.1983 4.66795 14.7162 4.66724H11.617L10.6765 1.64064C10.5286 1.16423 10.238 0.748621 9.84655 0.453755C9.45512 0.158889 8.98311 0 8.49858 0C8.01405 0 7.54204 0.158889 7.15061 0.453755C6.75919 0.748621 6.46857 1.16423 6.32068 1.64064L5.3802 4.66724H2.28379C1.80168 4.66795 1.33211 4.82595 0.942165 5.11867C0.552217 5.4114 0.261834 5.82387 0.112492 6.29718C-0.0368494 6.77049 -0.0375104 7.28042 0.110604 7.75414C0.258718 8.22785 0.54803 8.64113 0.937218 8.93493H0.934383Z' fill='%231E4737' /%3e%3c/svg%3e");
	background-color: #CCEC83;
}
.rating-list__item{
	display: flex;
}
.stars-rating-checkbox{width: 100%;}