extends ../layouts/layout.pug
mixin select(plh="Пример заполнения", inpName = 'input_name', label)
	.form-item&attributes(attributes)
		if label
			label #{label}
		.dropdown
			button.dropdown__button(type="button") #{plh}
			
			.dropdown__list
				ul
					li.dropdown__list-item(data-value="Мужской") Мужской
					li.dropdown__list-item(data-value="Женский") Женский
					

			//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
			input.dropdown__input-hidden(type="hidden", name=""+ inpName)

mixin contactsCard(city, address)
	.contacts-card
		.contacts-card__title #{city}
		.contacts-card__item
			.square-icon
				img(src="./img/icons/phone.webp", width="30" height="30" alt="img")
			a(href="tel:+78007754613") +7 (800) 775-46-13
		
		.contacts-card__item
			.square-icon
				img(src="./img/icons/pin.webp", width="30" height="30" alt="img")
			p !{address}
block content
	include ../sections/_header
	main.main.inner-main
		//БОКОВОЕ МЕНЮ НА МОБ ВЕРСИИ
		#inner-menu-mobile.inner-menu-mobile
			.inner-menu-btn#toggle-innerMenu Menu
				span
			.sidebar-scroll-wrapper
				.list-menu.has-hide
					.h4.list-menu__title Меню
					ul
						li.active 
							a.h5(href="#!") Перевозка больных
						li 
							a.h5(href="#!") Врачебный осмотр
						li 
							a.h5(href="#!") Медицинская помощь
						li 
							a.h5(href="#!") Патронаж
						li 
							a.h5(href="#!") Лечебный массаж
						li 
							a.h5(href="#!") Лечебная физкультура
						li.toggle-item.drop-menu__hide 
							a.h5(href="#!") Перевозка больных
						li.toggle-item.drop-menu__hide 
							a.h5(href="#!") Врачебный осмотр
						li.toggle-item.drop-menu__hide 
							a.h5(href="#!") Медицинская помощь
						li.toggle-item.drop-menu__hide 
							a.h5(href="#!") Патронаж
						li.toggle-item.drop-menu__hide 
							a.h5(href="#!") Лечебный массаж
						li.toggle-item.drop-menu__hide 
							a.h5(href="#!") Лечебная физкультура
		
					.drop-menu__btn
						button.open-drop-menu.arrow-btn
			
			
				//MENU
				.list-menu
					ul
						li 
							a.h5(href="#!") Уход и забота 24/7
						li.active 
							a.h5(href="#!") Уход за лежачимии и <br>больными
						li 
							a.h5(href="#!") Комфортные условия<br>проживания
						li 
							a.h5(href="#!") Медицинская помощь
						li 
							a.h5(href="#!") Доброжелательный персонал
						li 
							a.h5(href="#!") Вкусное и полезное 5-и<br>разовое питание
						li 
							a.h5(href="#!") Разнообразный<br>и интересный досуг
		.container
			ul.breadcrumbs
				li
					a(href="#!") pansionat-dobro.ru
				li
					a(href="#!") Услуги
				li
					a(href="#!") Пансионат для пожилых людей
		section.inner-page
			.container
				//SIDEBAR
				.aside-grid.aside-grid--desktop
					sidebar.sidebar
						//MENU
						.list-menu.has-hide
							.h4.list-menu__title Меню
							ul
								li.active 
									a.h5(href="#!") Перевозка больных
								li 
									a.h5(href="#!") Врачебный осмотр
								li 
									a.h5(href="#!") Медицинская помощь
								li 
									a.h5(href="#!") Патронаж
								li 
									a.h5(href="#!") Лечебный массаж
								li 
									a.h5(href="#!") Лечебная физкультура
								li.toggle-item.drop-menu__hide 
									a.h5(href="#!") Перевозка больных
								li.toggle-item.drop-menu__hide 
									a.h5(href="#!") Врачебный осмотр
								li.toggle-item.drop-menu__hide 
									a.h5(href="#!") Медицинская помощь
								li.toggle-item.drop-menu__hide 
									a.h5(href="#!") Патронаж
								li.toggle-item.drop-menu__hide 
									a.h5(href="#!") Лечебный массаж
								li.toggle-item.drop-menu__hide 
									a.h5(href="#!") Лечебная физкультура
				
							.drop-menu__btn
								button.open-drop-menu.arrow-btn
					
					
						//MENU
						.list-menu
							ul
								li 
									a.h5(href="#!") Уход и забота 24/7
								li.active 
									a.h5(href="#!") Уход за лежачимии и <br>больными
								li 
									a.h5(href="#!") Комфортные условия<br>проживания
								li 
									a.h5(href="#!") Медицинская помощь
								li 
									a.h5(href="#!") Доброжелательный персонал
								li 
									a.h5(href="#!") Вкусное и полезное 5-и<br>разовое питание
								li 
									a.h5(href="#!") Разнообразный<br>и интересный досуг
								
				
						//БРОНИРОВАНИЕ
						.reservation-form-wrapper
							.h4 Бронирование
							form.reservation-form(action="#!")
								.form-item
									label.label Ваш номер телефона
									input(type="tel" placeholder="+7 (000) 000-00-00")
								
								.form-item
									label.label Дата заезда
										span.txt-red *
									input#start-date.start-date(type="text" placeholder="ДД.ММ.ГГГГ")
								
								.form-item
									label.label Дата отезда
										span.txt-red *
									input#end-date.start-date(type="text" placeholder="ДД.ММ.ГГГГ")
								.form-btn
									button.btn-primary.w-100(type="submit")  Оставить заявку
				
						//SLIDER
						.slider-block
							.h4 Специалисты
							.sidebar-team-slider.small-slider
								.sidebar-slider-card
									img(src="./img/team/image1.webp", srcset="./img/team/image1@2x.webp" alt="img")
								
									.sidebar-slider-text
										.txt-20 Управляющая
										.h5 Казакова Наталья Артёмовна
								
								.sidebar-slider-card
									img(src="./img/team/image1.webp", srcset="./img/team/image1@2x.webp" alt="img")
								
									.sidebar-slider-text
										.txt-20 Управляющая
										.h5 Казакова Наталья Артёмовна
								.sidebar-slider-card
									img(src="./img/team/image1.webp", srcset="./img/team/image1@2x.webp" alt="img")
								
									.sidebar-slider-text
										.txt-20 Управляющая
										.h5 Казакова Наталья Артёмовна
						
						//SLIDER
						.slider-block
							.h4 Наши дома
							.sidebar-branches-slider.small-slider
								.sidebar-slider-card
									img(src="./img/branches/branche1.webp", srcset="./img/branches/branche1@2x.webp" alt="img")
								
								.sidebar-slider-card
									img(src="./img/branches/branche2.webp", srcset="./img/branches/branche2@2x.webp" alt="img")
								
									
								.sidebar-slider-card
									img(src="img/branches/branche1.webp", srcset="./img/branches/branche1@2x.webp" alt="img")
								
				
					//MAIN CONTENT
					.contacts-page-content.inner-content.block-gap-100
						.branch-short-desk.block-gap-30
							h1.h1.mb-0  #[span.accent-word Ростов-на-Дону]
						
							.h3 Pansionat Dobro
							//contacts items
							.branch-short-contacts.two-columns
								.short-contacts__item
									span.round-icon
										img(src="./img/icons/pin.webp", width="30" height="30" alt="img")
									p ул. Тружеников, 86/5
								//элемент для моб версии
								.benefit-card
									.benefit-card__top
										.benefit-card__icon
											span
												img(src="./img/icons/pin.webp", width="30" height="30" alt="img")
										.h3 Адрес:
									p.txt-18  ул. Тружеников, 86/5
								
								.short-contacts__item
									span.round-icon
										img(src="./img/icons/phone.webp", width="30" height="30" alt="img")
									p
										a(href="tel:+78007754613") +7 (800) 775-46-13
								//элемент для моб версии
								.benefit-card
									.benefit-card__top
										.benefit-card__icon
											span
												img(src="./img/icons/phone.webp", width="30" height="30" alt="img")
										.h3 Наш телефон:
									p.txt-18  
										a(href="tel:+78007754613") +7 (800) 775-46-13
								
								
								.short-contacts__item
									span.round-icon
										img(src="./img/icons/email.webp", width="30" height="30" alt="img")
									p
										a(href="mailto:info@pansionat-dobro.ru") info@pansionat-dobro.ru
								
								//элемент для моб версии
								.benefit-card
									.benefit-card__top
										.benefit-card__icon
											span
												img(src="./img/icons/email.webp", width="30" height="30" alt="img")
										.h3 Наша почта:
									p.txt-18
										a(href="mailto:info@pansionat-dobro.ru") sales@pansionat-dobro.ru
								
								
								.short-contacts__item
									span.round-icon
										img(src="./img/icons/email.webp", width="30" height="30" alt="img")
									
									p.social-group
										a(href="#!")
											img(src="./img/socials/vk.webp", width="25" height="25" alt="vk")
										a(href="#!")
											img(src="./img/socials/ok.webp", width="25" height="25" alt="ok")
										
										a(href="#!")
											img(src="./img/socials/youtube.webp", width="25" height="25" alt="youtube")
								//элемент для моб версии
								.benefit-card
									.benefit-card__top
										.benefit-card__icon
											span
												img(src="./img/icons/email.webp", width="30" height="30" alt="img")
										.h3 Наша почта:
									p.txt-18.social-group
										a(href="#!")
											img(src="./img/socials/vk.webp", width="25" height="25" alt="vk")
										a(href="#!")
											img(src="./img/socials/ok.webp", width="25" height="25" alt="ok")
										
										a(href="#!")
											img(src="./img/socials/youtube.webp", width="25" height="25" alt="youtube")

							p.txt-22 Экскурсия проводится по предварительной записи. Свяжитесь с нами любым удобным для вас способом. Ответим быстро!
							//MAP
							.map-wrapper
								iframe(src='https://yandex.ru/map-widget/v1/?um=constructor%3A13e02d731c04b56220a2a064d1fa54db38ac5402f907fd4bdf75e632a107fa8e&source=constructor' width='100%' height='100%' frameborder='0')
				
						.branch-contacts.block-gap-30.grey-box
							.branch-contacts__title
								h2.h1 #[span.accent-word Пансионаты] в регионах
								p.txt-22 Пансионат "Добро" кроме Ростова-на-Дону также имеет филиалы и партнёрскую сеть в регионах:
							
							.branch-contacts-wrapper.two-columns
								+contactsCard('Краснодар', 'улица имени Калинина, 53')
								+contactsCard('Ставрополь', 'Старомарьевское ш., 36')
								+contactsCard('Пятигорск', 'ул. Приозерная д.23А')
								+contactsCard('Астрахань', 'Набережная 1 Мая, 29')
								+contactsCard('Волгоград', 'ул. Моцарта, 19')
								+contactsCard('Воронеж', 'Ключевая ул., 25')
								+contactsCard('Санкт-Петербург', 'посёлок Парголово, Выборгское шоссе, 483')
								+contactsCard('Ульяновск', '3-й пер. Маяковского, д.41')
							//MAP
							.map-wrapper
								iframe(src='https://yandex.ru/map-widget/v1/?um=constructor%3A13e02d731c04b56220a2a064d1fa54db38ac5402f907fd4bdf75e632a107fa8e&source=constructor' width='100%' height='100%' frameborder='0')

							.city-links
								a(href="#!").bg-link Владикавказ
								a(href="#!").bg-link Нальчик
								a(href="#!").bg-link Прохладный
								a(href="#!").bg-link Кисловодск
								a(href="#!").bg-link Пятигорск
								a(href="#!").bg-link Будёновск
								a(href="#!").bg-link Черкесск
								a(href="#!").bg-link Сочи
								a(href="#!").bg-link Невинномысск
								a(href="#!").bg-link Лабинск
								a(href="#!").bg-link Майкоп
								a(href="#!").bg-link Туапсе
								a(href="#!").bg-link Ставрополь
								a(href="#!").bg-link Армавир
								a(href="#!").bg-link Геленджик
								a(href="#!").bg-link Новороссийск
								a(href="#!").bg-link Славянск-на-Кубани
								a(href="#!").bg-link Кропоткин
								a(href="#!").bg-link Тимашевск
								a(href="#!").bg-link Тихорецк
								a(href="#!").bg-link Ейск
								a(href="#!").bg-link Сальск
								a(href="#!").bg-link Элиста
								a(href="#!").bg-link Астрахань
								a(href="#!").bg-link Таганрог
								a(href="#!").bg-link Батайск
								a(href="#!").bg-link Новочеркасск
								a(href="#!").bg-link Волгодонск
								a(href="#!").bg-link Шахты
								a(href="#!").bg-link Гуково
								a(href="#!").bg-link Каменск-Шахтинский
								a(href="#!").bg-link Волгоград
								a(href="#!").bg-link Камышин
								a(href="#!").bg-link Михайловка
								a(href="#!").bg-link Аксай
								a(href="#!").bg-link Азов
								a(href="#!").bg-link Белая Калитва
								a(href="#!").bg-link Зверево
								a(href="#!").bg-link Зерноград
								a(href="#!").bg-link Миллерово
								a(href="#!").bg-link Морозовск
								a(href="#!").bg-link Новошахтинск
								a(href="#!").bg-link Пролетарск
								a(href="#!").bg-link Константиновск
								a(href="#!").bg-link Цимлянск
								a(href="#!").bg-link Красный Сулин
								a(href="#!").bg-link Константиновск
								

				
				.aside-grid
					sidebar.sidebar
						//FORM
						.form-wrapper.free-consult
							.h4 Бесплатная<br>консультация
							.txt-20 Я бы сюда добавил какое нибудь краткое описание, преимуществаили может ваш слоган
							
							form.contacts-form
								.form-item
									label.label Ваше имя
									input(type="text" placeholder="Иван")
								.form-item
									label.label Ваш номер телефона
									input(type="tel" placeholder="+7 (000) 000-00-00")

								.agree-block
									label.checkbox-item
										input(type="checkbox" checked)
										span.custom-checkbox
										span Я ознакомлен и согласен с условиями #[a(href="#!") пользовательского соглашения]
								.form-btn
									button.btn-primary.w-100(type="submit")  Оставить заявку
					
					
					.inner-content
						form.calc-form
							.h4 Калькулятор проживания
							.calc-form-grid
								.form-item
									label.label Пол пожилого
										span.txt-red *
									.dropdown
										button.dropdown__button(type="button") Мужской

										.dropdown__list
											ul
												li.dropdown__list-item(data-value="Мужской") Мужской
												li.dropdown__list-item(data-value="Женский") Женский
								.form-item
									label.label Самостоятельный?
										span.txt-red *
									.dropdown
										button.dropdown__button(type="button") Да

										.dropdown__list
											ul
												li.dropdown__list-item(data-value="Да") Да
												li.dropdown__list-item(data-value="Нет") Нет

								.form-item
									label.label Возраст
										span.txt-red *
									input(type="number" placeholder="0" name="")
								
								.form-item
									label.label Ваш комментарий
									input(type="tel" placeholder="+7 (000) 000-00-00")
								
								.form-item.form-textarea
									textarea(name="message" placeholder="Комментарий...")
								.form-item.form-btn
									button.btn-primary.w-100(type="submit") Отправить заявку
									p.txt-18 Специалист свяжется с вами в ближайшее время
	
		//Статьи
		section.about-media
			.container
				h2.h1 #[span.accent-word Популярные ] статьи
			.about-media-slider.overlay-bg
				.about-media-card
					.about-media__img
						img.img-cover(src="./img/media.webp", width="520" height="300" srcset="./img/media@2x.webp 2x" alt="alt")
					.about-media__txt
						.h5 Про добро. Частные дома престарелых – бизнес или благотворительность?
						p В Ростовской области уже пять лет работает сеть частных пансионатов для престарелых жителей «Добро». О том, как пришла в голову идея проекта, сложно ли работать социальному бизнесу и как государство может помочь пожилым людям, корреспонденту «АиФ-Ростов» рассказал донской предприниматель Евгений Атаманчук
					.about-media__footer
						a(href="#!").btn-primary.w-100 
							span.hide-mobile Перейти на статью
							span.hide-desktop Подробнее
				.about-media-card
					.about-media__img
						img.img-cover(src="./img/media.webp", width="520" height="300" srcset="./img/media@2x.webp 2x" alt="alt")
					.about-media__txt
						.h5 Про добро. Частные дома престарелых – бизнес или благотворительность?
						p В Ростовской области уже пять лет работает сеть частных пансионатов для престарелых жителей «Добро». О том, как пришла в голову идея проекта, сложно ли работать социальному бизнесу и как государство может помочь пожилым людям, корреспонденту «АиФ-Ростов» рассказал донской предприниматель Евгений Атаманчук
					.about-media__footer
						a(href="#!").btn-primary.w-100 
							span.hide-mobile Перейти на статью
							span.hide-desktop Подробнее
				.about-media-card
					.about-media__img
						img.img-cover(src="./img/media.webp", width="520" height="300" srcset="./img/media@2x.webp 2x" alt="alt")
					.about-media__txt
						.h5 Про добро. Частные дома престарелых – бизнес или благотворительность?
						p В Ростовской области уже пять лет работает сеть частных пансионатов для престарелых жителей «Добро». О том, как пришла в голову идея проекта, сложно ли работать социальному бизнесу и как государство может помочь пожилым людям, корреспонденту «АиФ-Ростов» рассказал донской предприниматель Евгений Атаманчук
					.about-media__footer
						a(href="#!").btn-primary.w-100 
							span.hide-mobile Перейти на статью
							span.hide-desktop Подробнее
				.about-media-card
					.about-media__img
						img.img-cover(src="./img/media.webp", width="520" height="300" srcset="./img/media@2x.webp 2x" alt="alt")
					.about-media__txt
						.h5 Про добро. Частные дома престарелых – бизнес или благотворительность?
						p В Ростовской области уже пять лет работает сеть частных пансионатов для престарелых жителей «Добро». О том, как пришла в голову идея проекта, сложно ли работать социальному бизнесу и как государство может помочь пожилым людям, корреспонденту «АиФ-Ростов» рассказал донской предприниматель Евгений Атаманчук
					.about-media__footer
						a(href="#!").btn-primary.w-100 
							span.hide-mobile Перейти на статью
							span.hide-desktop Подробнее
				.about-media-card
					.about-media__img
						img.img-cover(src="./img/media.webp", width="520" height="300" srcset="./img/media@2x.webp 2x" alt="alt")
					.about-media__txt
						.h5 Про добро. Частные дома престарелых – бизнес или благотворительность?
						p В Ростовской области уже пять лет работает сеть частных пансионатов для престарелых жителей «Добро». О том, как пришла в голову идея проекта, сложно ли работать социальному бизнесу и как государство может помочь пожилым людям, корреспонденту «АиФ-Ростов» рассказал донской предприниматель Евгений Атаманчук
					.about-media__footer
						a(href="#!").btn-primary.w-100 
							span.hide-mobile Перейти на статью
							span.hide-desktop Подробнее
				.about-media-card
					.about-media__img
						img.img-cover(src="./img/media.webp", width="520" height="300" srcset="./img/media@2x.webp 2x" alt="alt")
					.about-media__txt
						.h5 Про добро. Частные дома престарелых – бизнес или благотворительность?
						p В Ростовской области уже пять лет работает сеть частных пансионатов для престарелых жителей «Добро». О том, как пришла в голову идея проекта, сложно ли работать социальному бизнесу и как государство может помочь пожилым людям, корреспонденту «АиФ-Ростов» рассказал донской предприниматель Евгений Атаманчук
					.about-media__footer
						a(href="#!").btn-primary.w-100 
							span.hide-mobile Перейти на статью
							span.hide-desktop Подробнее
				.about-media-card
					.about-media__img
						img.img-cover(src="./img/media.webp", width="520" height="300" srcset="./img/media@2x.webp 2x" alt="alt")
					.about-media__txt
						.h5 Про добро. Частные дома престарелых – бизнес или благотворительность?
						p В Ростовской области уже пять лет работает сеть частных пансионатов для престарелых жителей «Добро». О том, как пришла в голову идея проекта, сложно ли работать социальному бизнесу и как государство может помочь пожилым людям, корреспонденту «АиФ-Ростов» рассказал донской предприниматель Евгений Атаманчук
					.about-media__footer
						a(href="#!").btn-primary.w-100 
							span.hide-mobile Перейти на статью
							span.hide-desktop Подробнее
			//slider pagination
			.about-media-pagination.slider-pagination
				button.btn-prev(type="button")
					span.arrow-left
				button.btn-next(type="button")
					span.arrow-right
	
	include ../sections/_footer




			
block variables
	-var title = "Внутренняя";