extends ../layouts/layout.pug

block content
	include ../sections/_header
	main.main
		include ../sections/_promo-fransiza
		//CONSULTATION
		section.consultation
			.container.container--narrow
				.consultation-content.green-bg
					h2.h1 Начните #[span.accent-word прибыльный] бизнес в сфере заботы о пожилых людях — свяжитесь с нами!
					
					.consultation-row.d-flex
						.consultation-contacts
							.txt-22 Оставьте заявку, и мы свяжемся с вами, чтобы обсудить ваши потребности
							.contacts-block
								a(href="tel:").phone-link-icon.txt-22  +7 (800) 775-46-13
								p Позвоните нам по бесплатному номеру

						//FORM
						form.consult-form.dark-bg
							.form-item
								label.label Ваш телефон
								input(type="tel" placeholder="+7 (000) 000-00-00")
							
							.agree-block
								label.checkbox-item
									input(type="checkbox" checked)
									span.custom-checkbox
									span Я ознакомлен и согласен с условиями #[a(href="#!") пользовательского соглашения]

							.form-btn
								button.btn-primary.w-100(type="submit") Оставить заявку
		section.our-props
			.container
				.our-props-grid
					.our-props-left.grey-block.txt-22
						h2.h2 #[span.accent-word Кто мы] и что предлагаем
						
						p "Добро" - это не просто проект, это миссия, реализованная с учетом социальных потребностей нашего общества и ориентированная на долгосрочное развитие. Мы гордимся тем, что обеспечиваем индивидуальный подход к каждому клиенту, предоставляя ему необходимое внимание, заботу и персональную программу ухода.
						p За годы работы мы помогли более 2000 пожилых людей, решив проблемы, связанные с отсутствием квалифицированной помощи и ограниченностью возможностей для активного общения и участия в социальной жизни. Мы также создали новые рабочие места и внесли вклад в экономическое развитие регионов, где находятся наши пансионаты.
						p Мы предлагаем открыть собственный пансионат «Добро» на условиях франчайзи в вашем городе. Чтобы старт был успешным, мы обучаем и сопровождаем запуск.

					.our-props-right.grey-block
						.props-item
							span 1
							.title-30 Высокая социальная значимость
							.txt-22 Меняем жизнь пожилых людей к лучшему.
						.props-item
							span 2
							.title-30 Более 2000 довольных клиентов
							.txt-22 Успешная и проверенная бизнес-модель.
						.props-item
							span 3
							.title-30 Комплексная поддержка и обучение
							.txt-22 Поможем запустить ваш бизнес с нуля.
						.props-item
							span 4
							.title-30 Вклад в экономику региона
							.txt-22 Создавайте рабочие места и развивайте свой город.

		section.why-franchise
			.container
				.why-franchise-grid
					.why-franchise-left(style="background-image: url(./img/franshiza/image1.webp)")
						.header-group

							h2.h1 #[span.accent-word Почему] стоит купить франшизу дома престарелых
							.txt-22
								p Откройте прибыльный и социально значимый бизнес, предоставляя качественные услуги по уходу за пожилыми людьми.
						
					.why-franchise-right
						.why-franchise-acordion
							.accordion__item
								.accordion__title
									span.accordion__arrow
									.accordion__title-text.accordion-active.h3 Свободный рынок
								
								.accordion__content(style="display:block;")
									.specifications__desk.txt-18
										p Почти в любом городе России частных домов престарелых или нет совсем, или единицы: на Москву и Московскую область приходится 100 домов, на Петербург и Ленобласть — 40, а в Новосибирске с численностью населения около 1,5 млн человек всего 2 частных дома престарелых.
							.accordion__item
								.accordion__title
									span.accordion__arrow
									.accordion__title-text.h3 Нет конкуренции<br>со стороны государства
								
								.accordion__content
									.specifications__desk.txt-18
										p Почти в любом городе России частных домов престарелых или нет совсем, или единицы: на Москву и Московскую область приходится 100 домов, на Петербург и Ленобласть — 40, а в Новосибирске с численностью населения около 1,5 млн человек всего 2 частных дома престарелых.
							.accordion__item
								.accordion__title
									span.accordion__arrow
									.accordion__title-text.h3 Быстрорастущая<br>целевая аудитория
								
								.accordion__content
									.specifications__desk.txt-18
										p Почти в любом городе России частных домов престарелых или нет совсем, или единицы: на Москву и Московскую область приходится 100 домов, на Петербург и Ленобласть — 40, а в Новосибирске с численностью населения около 1,5 млн человек всего 2 частных дома престарелых.
							.accordion__item
								.accordion__title
									span.accordion__arrow
									.accordion__title-text.h3 Социально<br>значимый проект
								
								.accordion__content
									.specifications__desk.txt-18
										p Почти в любом городе России частных домов престарелых или нет совсем, или единицы: на Москву и Московскую область приходится 100 домов, на Петербург и Ленобласть — 40, а в Новосибирске с численностью населения около 1,5 млн человек всего 2 частных дома престарелых.
					
				.why-franchise-img
					img.img-cover.img-round(src="./img/franshiza/image1.webp", srcset="./img/franshiza/image1@2x.webp" width="1100" height="324" alt="img")
					
		section.franchise-profit
			.container
				
				h2.h1 #[span.accent-word Что вы получаете], покупая франшизу
					
				.franchise-profit-grid
					.benefit-card
						.benefit-card__top
							.benefit-card__icon
								span
									img(src="./img/icons/i5.webp", width="30" height="30" alt="img")
							.h3 Отлаженную бизнес-модель
						p.txt-18 Полный комплект методик и стандартов для эффективного управления пансионатом, включая привлечение клиентов и юридическое сопровождение.
				
					.benefit-card
						.benefit-card__top
							.benefit-card__icon
								span
									img(src="./img/icons/i6.webp", width="30" height="30" alt="img")
							.h3 Гарантированный поток клиентов
						p.txt-18 Наш отдел продаж постоянно контролирует заполняемость вашего дома престарелых, обеспечивая стабильный приток постояльцев.
				
					.benefit-card
						.benefit-card__top
							.benefit-card__icon
								span
									img(src="./img/icons/i7.webp", width="30" height="30" alt="img")
							.h3 Профессиональное обучение персонала
						p.txt-18 Ваши сотрудники пройдут двухнедельное обучение стандартам работы и практику на базе наших пансионатов или дистанционно.
					.benefit-card
						.benefit-card__top
							.benefit-card__icon
								span
									img(src="./img/icons/i8.webp", width="30" height="30" alt="img")
							.h3 Индивидуальная поддержка
						p.txt-18 За вами будет закреплен менеджер по развитию франчайзинговой сети, который окажет помощь на всех этапах ведения бизнеса.
		
		section.business-steps.grey-section
			.container
				
				h2.h1 #[span.accent-word 6 шагов ] к собственному бизнесу
				.business-steps-grid
					.light-card
						.round-icon
							span 1
						.h3 Приобретение франшизы
						p Вам назначается персональный координатор, который всегда готов помочь в решении любых вопросов на всех этапах.
					.light-card
						.round-icon
							span 2
						.h3 Обучение персонала
						p Обучение сотрудников проводится либо в наших действующих пансионатах, либо дистанционно.
					.light-card
						.round-icon
							span 3
						.h3 Поиск и подготовка помещения
						p  Мы помогаем с выбором<br>и подготовкой помещения<br>для открытия пансионата.
					.light-card
						.round-icon
							span 4
						.h3 Предоставление первых клиентов
						p Мы обеспечиваем приток клиентов, обеспечивая успешный старт и выход на производственные мощности.
					.light-card
						.round-icon
							span 5
						.h3 Супервизия и контроль качества
						p Непрерывный контроль за качеством работы вашего пансионата на всех этапах.
					.light-card
						.round-icon
							span 6
						.h3 Постепенное заполнение пансионата
						p Наш отдел продаж активно занимается<br>привлечением новых клиентов<br>для вашего пансионата.
		include ../sections/_feedback
		include ../sections/_comparison
		include ../sections/_faq
		include ../sections/_review
		include ../sections/_consultation
		include ../sections/_branches
		include ../sections/_how-work
		include ../sections/_team
		include ../sections/_consultation-help
		include ../sections/_gallery
		include ../sections/_docs
		include ../sections/_media-about
		include ../sections/_brends
		include ../sections/_care
	include ../sections/_footer




			
block variables
	-var title = "Главная";