extends ../layouts/layout.pug

block content
	.start-page
		h1 Atrostov
		.start-page__cards
			a(href="../ui/colors.html") UI-KIT PAGE
			
			a(href="main.html")
				span Главная
			a(href="franshiza.html")
				span Франшиза
			a(href="inner-page.html")
				span Внутренняя
			a(href="single-branch.html")
				span Страница филиала
			
block variables
	-var title = "Page";
