extends ../layouts/layout.pug
mixin select(plh="Пример заполнения", inpName = 'input_name', label)
	.form-item&attributes(attributes)
		if label
			label #{label}
		.dropdown
			button.dropdown__button(type="button") #{plh}
			
			.dropdown__list
				ul
					li.dropdown__list-item(data-value="Мужской") Мужской
					li.dropdown__list-item(data-value="Женский") Женский
					

			//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
			input.dropdown__input-hidden(type="hidden", name=""+ inpName)
block content
	include ../sections/_header
	main.main.inner-main
		//БОКОВОЕ МЕНЮ НА МОБ ВЕРСИИ
		#inner-menu-mobile.inner-menu-mobile
			.inner-menu-btn#toggle-innerMenu Menu
				span
			.sidebar-scroll-wrapper
				.list-menu.has-hide
					.h4.list-menu__title Меню
					ul
						li.active 
							a.h5(href="#!") Перевозка больных
						li 
							a.h5(href="#!") Врачебный осмотр
						li 
							a.h5(href="#!") Медицинская помощь
						li 
							a.h5(href="#!") Патронаж
						li 
							a.h5(href="#!") Лечебный массаж
						li 
							a.h5(href="#!") Лечебная физкультура
						li.toggle-item.drop-menu__hide 
							a.h5(href="#!") Перевозка больных
						li.toggle-item.drop-menu__hide 
							a.h5(href="#!") Врачебный осмотр
						li.toggle-item.drop-menu__hide 
							a.h5(href="#!") Медицинская помощь
						li.toggle-item.drop-menu__hide 
							a.h5(href="#!") Патронаж
						li.toggle-item.drop-menu__hide 
							a.h5(href="#!") Лечебный массаж
						li.toggle-item.drop-menu__hide 
							a.h5(href="#!") Лечебная физкультура
		
					.drop-menu__btn
						button.open-drop-menu.arrow-btn
			
			
				//MENU
				.list-menu
					ul
						li 
							a.h5(href="#!") Уход и забота 24/7
						li.active 
							a.h5(href="#!") Уход за лежачимии и <br>больными
						li 
							a.h5(href="#!") Комфортные условия<br>проживания
						li 
							a.h5(href="#!") Медицинская помощь
						li 
							a.h5(href="#!") Доброжелательный персонал
						li 
							a.h5(href="#!") Вкусное и полезное 5-и<br>разовое питание
						li 
							a.h5(href="#!") Разнообразный<br>и интересный досуг
		.container
			ul.breadcrumbs
				li
					a(href="#!") pansionat-dobro.ru
				li
					a(href="#!") Услуги
				li
					a(href="#!") Пансионат для пожилых людей
		section.inner-page
			.container
				//SIDEBAR
				.aside-grid.aside-grid--desktop
					sidebar.sidebar
						//MENU
						.list-menu.has-hide
							.h4.list-menu__title Меню
							ul
								li.active 
									a.h5(href="#!") Перевозка больных
								li 
									a.h5(href="#!") Врачебный осмотр
								li 
									a.h5(href="#!") Медицинская помощь
								li 
									a.h5(href="#!") Патронаж
								li 
									a.h5(href="#!") Лечебный массаж
								li 
									a.h5(href="#!") Лечебная физкультура
								li.toggle-item.drop-menu__hide 
									a.h5(href="#!") Перевозка больных
								li.toggle-item.drop-menu__hide 
									a.h5(href="#!") Врачебный осмотр
								li.toggle-item.drop-menu__hide 
									a.h5(href="#!") Медицинская помощь
								li.toggle-item.drop-menu__hide 
									a.h5(href="#!") Патронаж
								li.toggle-item.drop-menu__hide 
									a.h5(href="#!") Лечебный массаж
								li.toggle-item.drop-menu__hide 
									a.h5(href="#!") Лечебная физкультура
				
							.drop-menu__btn
								button.open-drop-menu.arrow-btn
					
					
						//MENU
						.list-menu
							ul
								li 
									a.h5(href="#!") Уход и забота 24/7
								li.active 
									a.h5(href="#!") Уход за лежачимии и <br>больными
								li 
									a.h5(href="#!") Комфортные условия<br>проживания
								li 
									a.h5(href="#!") Медицинская помощь
								li 
									a.h5(href="#!") Доброжелательный персонал
								li 
									a.h5(href="#!") Вкусное и полезное 5-и<br>разовое питание
								li 
									a.h5(href="#!") Разнообразный<br>и интересный досуг
								
				
						//БРОНИРОВАНИЕ
						.reservation-form-wrapper
							.h4 Бронирование
							form.reservation-form(action="#!")
								.form-item
									label.label Ваш номер телефона
									input(type="tel" placeholder="+7 (000) 000-00-00")
								
								.form-item
									label.label Дата заезда
										span.txt-red *
									input#start-date.start-date(type="text" placeholder="ДД.ММ.ГГГГ")
								
								.form-item
									label.label Дата отезда
										span.txt-red *
									input#end-date.start-date(type="text" placeholder="ДД.ММ.ГГГГ")
								.form-btn
									button.btn-primary.w-100(type="submit")  Оставить заявку
				
						//SLIDER
						.slider-block
							.h4 Специалисты
							.sidebar-team-slider.small-slider
								.sidebar-slider-card
									img(src="./img/team/image1.webp", srcset="./img/team/image1@2x.webp" alt="img")
								
									.sidebar-slider-text
										.txt-20 Управляющая
										.h5 Казакова Наталья Артёмовна
								
								.sidebar-slider-card
									img(src="./img/team/image1.webp", srcset="./img/team/image1@2x.webp" alt="img")
								
									.sidebar-slider-text
										.txt-20 Управляющая
										.h5 Казакова Наталья Артёмовна
								.sidebar-slider-card
									img(src="./img/team/image1.webp", srcset="./img/team/image1@2x.webp" alt="img")
								
									.sidebar-slider-text
										.txt-20 Управляющая
										.h5 Казакова Наталья Артёмовна
						
						//SLIDER
						.slider-block
							.h4 Наши дома
							.sidebar-branches-slider.small-slider
								.sidebar-slider-card
									img(src="./img/branches/branche1.webp", srcset="./img/branches/branche1@2x.webp" alt="img")
								
								.sidebar-slider-card
									img(src="./img/branches/branche2.webp", srcset="./img/branches/branche2@2x.webp" alt="img")
								
									
								.sidebar-slider-card
									img(src="img/branches/branche1.webp", srcset="./img/branches/branche1@2x.webp" alt="img")
								
				
					//MAIN CONTENT
					.inner-content.custom-text
						h1 Пансионаты для #[span.accent-word пожилых людей]
						p Для тех, кто уже переступил порог зрелого возраста и столкнулся с различными заболеваниями, важно найти место, где они могут чувствовать себя комфортно, получать качественный уход и быть окруженными заботой. В нашем пансионате для пожилых людей мы предлагаем индивидуальный подход к каждому клиенту, учитывая их здоровье, потребности и предпочтения.
						h2 Пансионат для больных Альцгеймером
						p Забытые мгновения, потерянные истории, запутанные нити в памяти – все это страшные симптомы, с которыми сталкиваются люди, страдающие болезнью Альцгеймера. Но существует место, где они могут найти покой, заботу и поддержку – это специализированный #[a(href="#!") пансионат для больных Альцгеймером].
						ul
							li Уход за пациентами. Здесь работают высококвалифицированные специалисты, готовые оказать комплексную помощь и поддержку каждому человеку, страдающему от этого заболевания.
							li Адаптированная среда. Пансионаты оборудованы специально для комфортного пребывания и надлежащего ухода за пациентами с болезнью Альцгеймера, учитывая их особенности и потребности.

							li Программы занятий и терапии. Важно сохранять умственные и физические навыки пациентов, поэтому в пансионатах проводятся разнообразные занятия и терапевтические мероприятия.
							
						p Заболевание Альцгеймера – это не приговор. В пансионате для больных Альцгеймером каждый человек получает необходимую заботу и внимание, чтобы его жизнь была полна и комфортна.
						img(src="./img/inner-page/img1.webp", srcset="./img/inner-page/img1@2x.webp" width="1100" height="546" alt="img")

						
						h2 Дом престарелых для больных Деменцией
						p Деменция – это состояние, при котором человек теряет способность мыслить, запоминать, ориентироваться и обучаться. Для людей, страдающих деменцией, очень важно получать подходящий уход и поддержку. #[a(href="#!") Пансионат для больных деменцией] – это места, где они могут чувствовать себя комфортно и безопасно.
						ul
							li Специализированный персонал. Персонал пансионатов обучен работе с людьми, страдающими деменцией, и знает, как обеспечить им необходимый уход и поддержку.
							li Безопасная среда. Помещения пансионатов оборудованы с учетом особенностей заболевания, чтобы предотвратить возможные травмы и несчастные случаи.
							li Индивидуальный подход. Каждый пациент получает индивидуально разработанный план ухода, учитывающий его потребности и желания.
						
						p Пансионат для больных деменцией создан для того, чтобы обеспечить пациентам максимальный комфорт и качественный уход, а их близким – уверенность в том, что их родные находятся под надежной опекой.

						h2 Пансионат для больных склерозом
						p Склероз – это хроническое нейродегенеративное заболевание, которое приводит к нарушению нервной системы и, как следствие, к ухудшению качества жизни. #[a(href="#!") Пансионат для больных склерозом] предоставляют специализированный уход и поддержку, помогая пациентам справиться с вызовами, которые возникают в связи с этим заболеванием.
						ul
							li Медицинский надзор. В пансионатах работают врачи и медицинские специалисты, которые обеспечивают постоянное медицинское наблюдение и помощь в лечении пациентов со склерозом.
							li Физиотерапия и реабилитация. Важной частью ухода за больными склерозом является физиотерапия и реабилитация, направленные на поддержание и улучшение функций движения и самостоятельности.
							li Психологическая поддержка. Столкнувшись с диагнозом склероза, пациенты испытывают эмоциональное стрессовое состояние. Психологическая поддержка и консультирование помогают им справиться с этими эмоциями и адаптироваться к новым реалиям.
						
						p Пансионат для больных склерозом – это не просто место для проживания, а целый центр, где пациенты получают медицинскую помощь, физиотерапию, психологическую поддержку и заботу, направленные на улучшение их качества жизни.
						
						
						h2 Пансионат для больных диабетом
						p Диабет – это хроническое заболевание, которое требует постоянного контроля уровня сахара в крови и специального режима питания. Пациенты с диабетом нуждаются в особой заботе и внимании, поэтому #[a(href="#!") пансионат для диабетиков] предлагает специализированный уход и условия, способствующие поддержанию их здоровья.

						ul
							li Контроль питания. В пансионатах для диабетиков предлагаются специальные диеты, разработанные с учетом потребностей пациентов с этим заболеванием. Это позволяет контролировать уровень сахара в крови и предотвращать осложнения.
							li Медицинский уход. Квалифицированный медицинский персонал обеспечивает постоянный мониторинг состояния здоровья пациентов с диабетом, контролирует уровень сахара в крови и назначает необходимое лечение.
							li Образ жизни. Пансионаты создают условия для активного образа жизни, включая физические упражнения и занятия спортом, что помогает улучшить уровень физической активности и контроль над диабетом.

						p Пансионат для диабетиков – это место, где пациенты могут получить не только медицинскую помощь, но и поддержку в поддержании здорового образа жизни и контроле над своим состоянием.

						
				
				.aside-grid
					sidebar.sidebar
						//FORM
						.form-wrapper.free-consult
							.h4 Бесплатная<br>консультация
							.txt-20 Я бы сюда добавил какое нибудь краткое описание, преимуществаили может ваш слоган
							
							form.contacts-form
								.form-item
									label.label Ваше имя
									input(type="text" placeholder="Иван")
								.form-item
									label.label Ваш номер телефона
									input(type="tel" placeholder="+7 (000) 000-00-00")

								.agree-block
									label.checkbox-item
										input(type="checkbox" checked)
										span.custom-checkbox
										span Я ознакомлен и согласен с условиями #[a(href="#!") пользовательского соглашения]
								.form-btn
									button.btn-primary.w-100(type="submit")  Оставить заявку
					
					
					.inner-content
						form.calc-form
							.h4 Калькулятор проживания
							.calc-form-grid
								.form-item
									label.label Пол пожилого
										span.txt-red *
									.dropdown
										button.dropdown__button(type="button") Мужской

										.dropdown__list
											ul
												li.dropdown__list-item(data-value="Мужской") Мужской
												li.dropdown__list-item(data-value="Женский") Женский
								.form-item
									label.label Самостоятельный?
										span.txt-red *
									.dropdown
										button.dropdown__button(type="button") Да

										.dropdown__list
											ul
												li.dropdown__list-item(data-value="Да") Да
												li.dropdown__list-item(data-value="Нет") Нет

								.form-item
									label.label Возраст
										span.txt-red *
									input(type="number" placeholder="0" name="")
								
								.form-item
									label.label Ваш комментарий
									input(type="tel" placeholder="+7 (000) 000-00-00")
								
								.form-item.form-textarea
									textarea(name="message" placeholder="Комментарий...")
								.form-item.form-btn
									button.btn-primary.w-100(type="submit") Отправить заявку
									p.txt-18 Специалист свяжется с вами в ближайшее время
	
		//Статьи
		section.about-media
			.container
				h2.h1 #[span.accent-word Популярные ] статьи
			.about-media-slider.overlay-bg
				.about-media-card
					.about-media__img
						img.img-cover(src="./img/media.webp", width="520" height="300" srcset="./img/media@2x.webp 2x" alt="alt")
					.about-media__txt
						.h5 Про добро. Частные дома престарелых – бизнес или благотворительность?
						p В Ростовской области уже пять лет работает сеть частных пансионатов для престарелых жителей «Добро». О том, как пришла в голову идея проекта, сложно ли работать социальному бизнесу и как государство может помочь пожилым людям, корреспонденту «АиФ-Ростов» рассказал донской предприниматель Евгений Атаманчук
					.about-media__footer
						a(href="#!").btn-primary.w-100 
							span.hide-mobile Перейти на статью
							span.hide-desktop Подробнее
				.about-media-card
					.about-media__img
						img.img-cover(src="./img/media.webp", width="520" height="300" srcset="./img/media@2x.webp 2x" alt="alt")
					.about-media__txt
						.h5 Про добро. Частные дома престарелых – бизнес или благотворительность?
						p В Ростовской области уже пять лет работает сеть частных пансионатов для престарелых жителей «Добро». О том, как пришла в голову идея проекта, сложно ли работать социальному бизнесу и как государство может помочь пожилым людям, корреспонденту «АиФ-Ростов» рассказал донской предприниматель Евгений Атаманчук
					.about-media__footer
						a(href="#!").btn-primary.w-100 
							span.hide-mobile Перейти на статью
							span.hide-desktop Подробнее
				.about-media-card
					.about-media__img
						img.img-cover(src="./img/media.webp", width="520" height="300" srcset="./img/media@2x.webp 2x" alt="alt")
					.about-media__txt
						.h5 Про добро. Частные дома престарелых – бизнес или благотворительность?
						p В Ростовской области уже пять лет работает сеть частных пансионатов для престарелых жителей «Добро». О том, как пришла в голову идея проекта, сложно ли работать социальному бизнесу и как государство может помочь пожилым людям, корреспонденту «АиФ-Ростов» рассказал донской предприниматель Евгений Атаманчук
					.about-media__footer
						a(href="#!").btn-primary.w-100 
							span.hide-mobile Перейти на статью
							span.hide-desktop Подробнее
				.about-media-card
					.about-media__img
						img.img-cover(src="./img/media.webp", width="520" height="300" srcset="./img/media@2x.webp 2x" alt="alt")
					.about-media__txt
						.h5 Про добро. Частные дома престарелых – бизнес или благотворительность?
						p В Ростовской области уже пять лет работает сеть частных пансионатов для престарелых жителей «Добро». О том, как пришла в голову идея проекта, сложно ли работать социальному бизнесу и как государство может помочь пожилым людям, корреспонденту «АиФ-Ростов» рассказал донской предприниматель Евгений Атаманчук
					.about-media__footer
						a(href="#!").btn-primary.w-100 
							span.hide-mobile Перейти на статью
							span.hide-desktop Подробнее
				.about-media-card
					.about-media__img
						img.img-cover(src="./img/media.webp", width="520" height="300" srcset="./img/media@2x.webp 2x" alt="alt")
					.about-media__txt
						.h5 Про добро. Частные дома престарелых – бизнес или благотворительность?
						p В Ростовской области уже пять лет работает сеть частных пансионатов для престарелых жителей «Добро». О том, как пришла в голову идея проекта, сложно ли работать социальному бизнесу и как государство может помочь пожилым людям, корреспонденту «АиФ-Ростов» рассказал донской предприниматель Евгений Атаманчук
					.about-media__footer
						a(href="#!").btn-primary.w-100 
							span.hide-mobile Перейти на статью
							span.hide-desktop Подробнее
				.about-media-card
					.about-media__img
						img.img-cover(src="./img/media.webp", width="520" height="300" srcset="./img/media@2x.webp 2x" alt="alt")
					.about-media__txt
						.h5 Про добро. Частные дома престарелых – бизнес или благотворительность?
						p В Ростовской области уже пять лет работает сеть частных пансионатов для престарелых жителей «Добро». О том, как пришла в голову идея проекта, сложно ли работать социальному бизнесу и как государство может помочь пожилым людям, корреспонденту «АиФ-Ростов» рассказал донской предприниматель Евгений Атаманчук
					.about-media__footer
						a(href="#!").btn-primary.w-100 
							span.hide-mobile Перейти на статью
							span.hide-desktop Подробнее
				.about-media-card
					.about-media__img
						img.img-cover(src="./img/media.webp", width="520" height="300" srcset="./img/media@2x.webp 2x" alt="alt")
					.about-media__txt
						.h5 Про добро. Частные дома престарелых – бизнес или благотворительность?
						p В Ростовской области уже пять лет работает сеть частных пансионатов для престарелых жителей «Добро». О том, как пришла в голову идея проекта, сложно ли работать социальному бизнесу и как государство может помочь пожилым людям, корреспонденту «АиФ-Ростов» рассказал донской предприниматель Евгений Атаманчук
					.about-media__footer
						a(href="#!").btn-primary.w-100 
							span.hide-mobile Перейти на статью
							span.hide-desktop Подробнее
			//slider pagination
			.about-media-pagination.slider-pagination
				button.btn-prev(type="button")
					span.arrow-left
				button.btn-next(type="button")
					span.arrow-right
	
	include ../sections/_footer




			
block variables
	-var title = "Внутренняя";