extends ../layouts/layout.pug

block content
	include ../sections/_header
	main.main
		include ../sections/_promo
		include ../sections/_about
		include ../sections/_statistic
		include ../sections/_services
		include ../sections/_feedback
		include ../sections/_comparison
		include ../sections/_faq
		include ../sections/_review
		include ../sections/_consultation
		include ../sections/_branches
		include ../sections/_consultation-help
		include ../sections/_how-work
		include ../sections/_team



			
block variables
	-var title = "Главная";