extends ../layouts/layout.pug

block content
	include ../sections/_header
	main.main
		include ../sections/_promo
		include ../sections/_about
		include ../sections/_statistic
		include ../sections/_services
		include ../sections/_feedback
			
block variables
	-var title = "Главная";