extends ../layouts/layout.pug

block content
	include ../sections/_header
	main.main
		.container
			ul.breadcrumbs
				li
					a(href="#!") Главная
				li
					a(href="#!") Пансионат для пожилых людей
				li
					a(href="#!") Пансионат Добро
		section.branch-info
			.container
				h1.h1 Пансионат Добро в #[span.accent-word Ставрополе]
				.branch-info__content
					.branch-fotorama
						.branch-fotorama-slider
							.slider-for__item
								img(src="./img/branch-slider/img1.webp", srcset="./img/branch-slider/img1@2x.webp 2x" width="820" height="660" alt="img")
							.slider-for__item
								img(src="./img/branch-slider/img2.webp", srcset="./img/branch-slider/img2@2x.webp 2x" width="820" height="660" alt="img")
							.slider-for__item
								img(src="./img/branch-slider/img3.webp", srcset="./img/branch-slider/img3@2x.webp 2x" width="820" height="660" alt="img")
							.slider-for__item
								img(src="./img/branch-slider/img4.webp", srcset="./img/branch-slider/img4@2x.webp 2x" width="820" height="660" alt="img")
							

						.branch-fotorama-thumbs.small-slider.overlay-bg
							.slider-for__item
								img(src="./img/branch-slider/img1.webp", srcset="./img/branch-slider/img1@2x.webp 2x" width="260" height="200" alt="img")
							.slider-for__item
								img(src="./img/branch-slider/img2.webp", srcset="./img/branch-slider/img2@2x.webp 2x" width="260" height="200" alt="img")
							.slider-for__item
								img(src="./img/branch-slider/img3.webp", srcset="./img/branch-slider/img3@2x.webp 2x" width="260" height="200" alt="img")
							.slider-for__item
								img(src="./img/branch-slider/img4.webp", srcset="./img/branch-slider/img4@2x.webp 2x" width="260" height="200" alt="img")
							
					
					//RIGHT BLOCKS
					.branch-short-desk
						h2.title-25 Pansionat Dobro
						
						
						.branch-short-contacts
							//элемент на экранах >743
							.short-contacts__item
								span.round-icon
									img(src="./img/icons/pin.webp", width="30" height="30" alt="img")
								p г. Ростов-на-Дону, ул. Береговая 8 
							//элемент для моб версии
							.benefit-card
								.benefit-card__top
									.benefit-card__icon
										span
											img(src="./img/icons/pin.webp", width="30" height="30" alt="img")
									.h3 Адрес:
								p.txt-18 г. Ростов-на-Дону, ул. Береговая 8 
							
							.short-contacts__item
								span.round-icon
									img(src="./img/icons/phone.webp", width="30" height="30" alt="img")
								p +7 (800) 775-46-13
							//элемент для моб версии
							.benefit-card
								.benefit-card__top
									.benefit-card__icon
										span
											img(src="./img/icons/phone.webp", width="30" height="30" alt="img")
									.h3 Наш телефон:
								p.txt-18  +7 (800) 775-46-13
							
							.short-contacts__item
								span.round-icon
									img(src="./img/icons/glob.webp", width="30" height="30" alt="img")
								p https://pansionat-dobro.ru/
							
							//элемент для моб версии
							.benefit-card
								.benefit-card__top
									.benefit-card__icon
										span
											img(src="./img/icons/glob.webp", width="30" height="30" alt="img")
									.h3 Наш сайт:
								p.txt-18  https://pansionat-dobro.ru/
							
							.short-contacts__item
								span.round-icon
									img(src="./img/icons/email.webp", width="30" height="30" alt="img")
								p sales@pansionat-dobro.ru
							//элемент для моб версии
							.benefit-card
								.benefit-card__top
									.benefit-card__icon
										span
											img(src="./img/icons/email.webp", width="30" height="30" alt="img")
									.h3 Наша почта:
								p.txt-18  sales@pansionat-dobro.ru
						
						button.btn-primary.sm-100(type="button") Заказать звонок
						.txt-22
							p Выбирая недорогие пансионаты для ухода за пожилым человеком, родственники всегда переживают. Частный интернат “Добро” - это лучшая организация в Подмосковье, куда вы сможете оформить своего близкого человека. В нашу сеть входит более десяти пансионатов, один из которых расположен в поселке Малаховка, недалеко от Люберец.
	
						.contacts-map
							iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Af2d88298ed4bfd3e6aba321e8ee888530b9c2fe516178912c6b2381c0435a527&amp;source=constructor" width="100%" height="100%" frameborder="0")
							
		//branch
		section.branch-peculiar
			.container
				.branch-peculiar-content.grey-content
					h2.h1 #[span.accent-word Особенности] пансионата
					.branch-peculiar-grid
						.light-card.light-card--row
							.round-icon
								img(src="./img/icons/i19.webp", width="30" height="30" alt="btn")
							.h5 Мест в номере 2-4
						.light-card.light-card--row
							.round-icon
								img(src="./img/icons/i20.webp", width="30" height="30" alt="btn")
							.h5 6-ти разовое питание
						.light-card.light-card--row
							.round-icon
								img(src="./img/icons/i21.webp", width="30" height="30" alt="btn")
							.h5 Для заселения необходимы: паспорт и полис
						.light-card.light-card--row
							.round-icon
								img(src="./img/icons/i22.webp", width="30" height="30" alt="btn")
							.h5 Инфраструктура для колясочников
						.light-card.light-card--row
							.round-icon
								img(src="./img/icons/i23.webp", width="30" height="30" alt="btn")
							.h5 Круглосуточный уход
						.light-card.light-card--row
							.round-icon
								img(src="./img/icons/i24.webp", width="30" height="30" alt="btn")
							.h5 Мед. персонал
						.light-card.light-card--row
							.round-icon
								img(src="./img/icons/i25.webp", width="30" height="30" alt="btn")
							.h5 Медицинское обслуживание
						.light-card.light-card--row
							.round-icon
								img(src="./img/icons/i26.webp", width="30" height="30" alt="btn")
							.h5 Полный гигиенический и косметический уход
						.light-card.light-card--row
							.round-icon
								img(src="./img/icons/i27.webp", width="30" height="30" alt="btn")
							.h5 Прогулки на территории
						.light-card.light-card--row
							.round-icon
								img(src="./img/icons/i28.webp", width="30" height="30" alt="btn")
							.h5 Развлекательные мероприятия
				

		section.auther-branches
			.container
				h2.h1.center-desktop #[span.accent-word Похожие] предложения
			.auther-branches-slider.overlay-bg
				//single card
				.branch-card.slider-card
					.slider-card__img
						img.img-cover(src="./img/branch-slider/image5.webp", width="520" height="300" srcset="./img/branch-slider/image5@2x.webp 2x" alt="alt")
					.slider-card__txt
						.h5 Пансионат для пожилых Долголетие в Белозерках1
						ul.branch-card__list
							li
								.round-icon
									img(src="./img/icons/pin.webp", width="17" height="17" alt="btn")
								p.txt-18 Московская обл., Клинский район, д. Белозерки, дом 135
							li
								.round-icon
									img(src="./img/icons/star.webp", width="17" height="17" alt="btn")
								p.txt-18 759 отзывов /#[span 79% рекомендуют]
					
						.branch-card__price
							p.old-price 990₽
							p.sale-percent -20%
							p.h5 Выгода 200₽
						
					.slider-card__footer
						.price-block
							p 1200&#8381; #[span В сутки]
						a(href="#!").btn-primary.w-100 Подробнее 
								
				//single card
				.branch-card.slider-card
					.slider-card__img
						img.img-cover(src="./img/branch-slider/image5.webp", width="520" height="300" srcset="./img/branch-slider/image5@2x.webp 2x" alt="alt")
					.slider-card__txt
						.h5 Пансионат для пожилых Долголетие в Белозерках2
						ul.branch-card__list
							li
								.round-icon
									img(src="./img/icons/pin.webp", width="17" height="17" alt="btn")
								p.txt-18 Московская обл., Клинский район, д. Белозерки, дом 135
							li
								.round-icon
									img(src="./img/icons/star.webp", width="17" height="17" alt="btn")
								p.txt-18 759 отзывов /#[span 79% рекомендуют]
					
						.branch-card__price
							p.old-price 990₽
							p.sale-percent -20%
							p.h5 Выгода 200₽
					
					.slider-card__footer
						.price-block
							p 1200&#8381; #[span В сутки]
						a(href="#!").btn-primary.w-100 Подробнее 
				//single card
				.branch-card.slider-card
					.slider-card__img
						img.img-cover(src="./img/branch-slider/image5.webp", width="520" height="300" srcset="./img/branch-slider/image5@2x.webp 2x" alt="alt")
					.slider-card__txt
						.h5 Пансионат для пожилых Долголетие в Белозерках3
						ul.branch-card__list
							li
								.round-icon
									img(src="./img/icons/pin.webp", width="17" height="17" alt="btn")
								p.txt-18 Московская обл., Клинский район, д. Белозерки, дом 135
							li
								.round-icon
									img(src="./img/icons/star.webp", width="17" height="17" alt="btn")
								p.txt-18 759 отзывов /#[span 79% рекомендуют]
					
						.branch-card__price
							p.old-price 990₽
							p.sale-percent -20%
							p.h5 Выгода 200₽
					
					.slider-card__footer
						.price-block
							p 1200&#8381; #[span В сутки]
						a(href="#!").btn-primary.w-100 Подробнее 
				//single card
				.branch-card.slider-card
					.slider-card__img
						img.img-cover(src="./img/branch-slider/image5.webp", width="520" height="300" srcset="./img/branch-slider/image5@2x.webp 2x" alt="alt")
					.slider-card__txt
						.h5 Пансионат для пожилых Долголетие в Белозерках3
						ul.branch-card__list
							li
								.round-icon
									img(src="./img/icons/pin.webp", width="17" height="17" alt="btn")
								p.txt-18 Московская обл., Клинский район, д. Белозерки, дом 135
							li
								.round-icon
									img(src="./img/icons/star.webp", width="17" height="17" alt="btn")
								p.txt-18 759 отзывов /#[span 79% рекомендуют]
					
						.branch-card__price
							p.old-price 990₽
							p.sale-percent -20%
							p.h5 Выгода 200₽
					
					.slider-card__footer
						.price-block
							p 1200&#8381; #[span В сутки]
						a(href="#!").btn-primary.w-100 Подробнее 
				//single card
				.branch-card.slider-card
					.slider-card__img
						img.img-cover(src="./img/branch-slider/image5.webp", width="520" height="300" srcset="./img/branch-slider/image5@2x.webp 2x" alt="alt")
					.slider-card__txt
						.h5 Пансионат для пожилых Долголетие в Белозерках3
						ul.branch-card__list
							li
								.round-icon
									img(src="./img/icons/pin.webp", width="17" height="17" alt="btn")
								p.txt-18 Московская обл., Клинский район, д. Белозерки, дом 135
							li
								.round-icon
									img(src="./img/icons/star.webp", width="17" height="17" alt="btn")
								p.txt-18 759 отзывов /#[span 79% рекомендуют]
					
						.branch-card__price
							p.old-price 990₽
							p.sale-percent -20%
							p.h5 Выгода 200₽
					
					.slider-card__footer
						.price-block
							p 1200&#8381; #[span В сутки]
						a(href="#!").btn-primary.w-100 Подробнее 
			//slider pagination
			.auther-branches-nav.slider-pagination
				button.btn-prev(type="button")
					span.arrow-left
				button.btn-next(type="button")
					span.arrow-right
		
		//Review
		section.our-review
			h2.h1.center-desktop #[span.accent-word Отзывы] постояльцев и заказчиков
			.container
				.our-review-grid
					//RATING FORM
					.our-review__col.grey-box
						.h4 Оставить отзыв:
						form.rating-form
							.stars-rating-checkbox.stars-rating
								label.stars-rating-label
									input(type='checkbox' name='ratingInput1')
									span
								label.stars-rating-label
									input(type='checkbox' name='ratingInput2')
									span
								label.stars-rating-label
									input(type='checkbox' name='ratingInput3')
									span
								label.stars-rating-label
									input(type='checkbox' name='ratingInput4')
									span
								label.stars-rating-label
									input(type='checkbox' name='ratingInput5')
									span
							
							.form-item.form-item--w50
									label.label Ваше имя
									input(type="text" placeholder="Иван")
							.form-item.form-item--w50
								label.label Ваша Фамилия
								input(type="text" placeholder="Белов")
							.form-item.form-textarea
								textarea(name="message" placeholder="Ваш отзыв")
							
							.agree-block
								label.checkbox-item
									input(type="checkbox" checked)
									span.custom-checkbox
									span Я ознакомлен и согласен с условиями #[a(href="#!") пользовательского соглашения]
							.form-btn
								button.btn-primary.w-100(type="submit") Оставить отзыв
							
					
					
					//SLIDER
					.our-review__col.grey-box
						.our-review-group
							.h4 Оставленные отзывы
							
							
							.our-review-slider
								//review-slide
								.review-slide
									.review-slide__top
										.card-img
											img(src="./img/review.webp", width="150" height="150" alt="btn")
										.card-title
											.h3 Роман Романов
											.txt-18 Отзыв о пансионате “Добро” в Ставрополе
											.stars-rating
												span
												span
												span
												span
												span
									
									.review-slide__text.txt-20
										p Хочу выразить огромную благодарность всему персоналу пансионата "Добро"! Забота, внимание и уютная атмосфера это то, что создает ощущение дома для моих родителей.  Рекомендую всем, кто ищет надежный и качественный уход для своих близких.
								//review-slide
								.review-slide
									.review-slide__top
										.card-img
											img(src="./img/review.webp", width="150" height="150" alt="btn")
										.card-title
											.h3 Роман Романов
											.txt-18 Отзыв о пансионате “Добро” в Ставрополе
											.stars-rating
												span
												span
												span
												span
												span
									
									.review-slide__text.txt-20
										p Хочу выразить огромную благодарность всему персоналу пансионата "Добро"! Забота, внимание и уютная атмосфера это то, что создает ощущение дома для моих родителей. Рекомендую всем, кто ищет надежный и качественный уход для своих близких.
								//review-slide
								.review-slide
									.review-slide__top
										.card-img
											img(src="./img/review.webp", width="150" height="150" alt="btn")
										.card-title
											.h3 Роман Романов
											.txt-18 Отзыв о пансионате “Добро” в Ставрополе
											.stars-rating
												span
												span
												span
												span
												span
									
									.review-slide__text.txt-20
										p Хочу выразить огромную благодарность всему персоналу пансионата "Добро"! Забота, внимание и уютная атмосфера это то, что создает ощущение дома для моих родителей. Рекомендую всем, кто ищет надежный и качественный уход для своих близких. Рекомендую всем, кто ищет надежный и качественный уход для своих близких.
					
							//navigation
							.our-review-pagination.slider-pagination
								button.btn-prev(type="button")
									span.arrow-top
								button.btn-next(type="button")
									span.arrow-bottom
				
				
				
				
	include ../sections/_footer




			
block variables
	-var title = "Главная";