include _mixins-links.pug
block variables

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		//cdn slick SLIDER
		link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css')
		link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css')
		
		
		//=======убрать перевод цифр в номер телефона на ios  и safari ======
		meta(name="format-detection" content="telephone=no")
		//fancybox
		link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css')
		//fonts
		link(rel="stylesheet", href="fonts/fonts.css")
		//custom styles
		link(rel="stylesheet", href="css/main.css")

		title !{title}
		
	body(class=(bodyCl !=="" ? bodyCl : ''))
		#overlay
		block content
		
		//jquery
		script(src="./libs/jquery/jquery-3.0.0.min.js")
		
		script(	 src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js')
		//fancy
		script(src='https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js')
		//custom scripts
		script(src="./js/main.js")