include _mixins-links.pug
block variables

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		//cdn slick SLIDER
		link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css')
		link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css')
		
		
		//=======убрать перевод цифр в номер телефона на ios  и safari ======
		meta(name="format-detection" content="telephone=no")
		//fancybox
		link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css')
		//fonts
		link(rel="stylesheet", href="fonts/fonts.css")
		
		//UI DATA PICKER
		link(rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
		//custom styles
		link(rel="stylesheet", href="css/main.css")


		title !{title}
		
	body(class=(bodyCl !=="" ? bodyCl : ''))
		
		block content
		

		#popUp-form.popUp-form-wrapper.grey-box
			
				form.contacts-form
					.form-item
						label.label Ваше имя
						input(type="text" placeholder="Иван")
					.form-item
						label.label Ваш номер телефона
						input(type="tel" placeholder="+7 (000) 000-00-00")

					.agree-block
						label.checkbox-item
							input(type="checkbox" checked)
							span.custom-checkbox
							span Я ознакомлен и согласен с условиями #[a(href="#!") пользовательского соглашения]
					.form-btn
						button.btn-primary.w-100(type="submit")  Оставить заявку
		//jquery
		script(src="./libs/jquery/jquery-3.0.0.min.js")
		//UI DATA PICKER
		script(src="https://code.jquery.com/jquery-1.12.4.js")
		script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
		//SLICK SLIDER
		script(	src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js')
		//fancybox
		script(src='https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js')
		//custom scripts
		script(src="./js/main.js")